{% extends "layout-apply.html" %}

{% set hmpoTitle %}Choose a date and place{% endset %}

{% set conText %}
    {% if values.urgent and values.urgentNameChanged == "false" %}

    {% else %}
        and documents
    {% endif %}
{% endset %}

{% block hmpoContent %}

    <h1>{{ hmpoTitle }}</h1>
    <p> You’ll need to bring your old passport {{conText}} to a <a href="https://www.passport.service.gov.uk/help/passport-offices/">passport office</a>, and return 2 hours later to collect your new passport.</p>
    <p>You can ask someone else to go for you if you’re not available.</p>

    <div style="padding-bottom:2em">
        {% if links.previous %}
            <div class="earlier-time direction-arrow">
                <a class="govuk-body-m" href="/urgent/urgent-choose-date-and-place/{{links.previous}}">
                    Earlier
                </a>
            </div>
        {% endif %}
        {% if links.next %}
            <div class="later-time direction-arrow {% if ctx("last-full-page") %}hide-above-mobile{% endif %}">
                <a class="govuk-body-m" href="/urgent/urgent-choose-date-and-place/{{links.next}}">
                    Later
                </a>
            </div>
        {% endif %}
    </div>

    <table class="govuk-table booking-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">

                {% for day in appointmentDaysAndPrices %}
                <th>
                    {{ day.date | date("dddd") }}<br>
                    {{ day.date | date("D MMMM") }}<br>
                    {{ day.price }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for name, locations in appointmentsAvailability %}
        <tr class="govuk-table__row">
            {% for location in locations %}
            <td class="govuk-table__cell">
                {% if location.available %}
                    <a href="/urgent/urgent-choose-time/{{ name | lowercase }}/{{ location.date | date('DD-MM-YYYY') }}">
                        {{ name | capitalize }}
                        <br>
                        <span class="available">Available</span>
                    </a>
                {% else %}
                    <span class="unavailable">{{ name | capitalize }}</span>
                    <span class="govuk-visually-hidden">Unavailable</span>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
