{% extends "layout-apply.html" %}

{% set hmpoTitle %}How to apply{% endset %}

{% block hmpoContent %}
    <div class="flash-card">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1>{{ hmpoTitle }}</h1>
                <ul>
                    <li class="circle-step">
                    <span class="circle-step-circle">1</span>
                        <h2>Choose a collection appointment</h2>
                        <p>We’ll reserve a time for you to collect your passport from a <a href="/help/passport-offices">passport office in the UK</a>.</p>
                    </li>
                    <li class="circle-step">
                    <span class="circle-step-circle">2</span>
                        <h2>Apply online</h2>
                        <p>You’ll need to get a digital photo - we’ll show you how. If there’s a problem with your application, we’ll contact you before you collect your passport.</p>
                    </li>
                    <li class="circle-step">
                    <span class="circle-step-circle">3</span>
                        <h2>Pay for your new passport online</h2>
                        <p>You’ll need a debit or credit card. An adult passport using this service is £177.</p>
                    </li>
                    <li class="circle-step">
                    <span class="circle-step-circle">4</span>
                        <h2>Collect your new passport</h2>
                        <p>This usually takes 30 minutes. You’ll need to take your old passport with you.</p>
                    </li>
                </ul>
                {% call hmpoForm(ctx) %}
                    {{ hmpoSubmit(ctx, { text: translate("buttons.choose-appointment") }) }}
                {% endcall %}

                {% call hmpoDetails({ summaryText: "I need help doing things online" }) %}
                    <p>You can call the Passport Adviceline and ask for help</p>
                    <ul class="govuk-list govuk-list--bullet">
                            <li>Telephone: +44 (0) 300 330 0901</li>
                            <li>Monday to Friday, 8:00am to 8:00pm (UK time)</li>
                            <li>Weekends and public holidays, 9:00am to 5:30pm (UK time)</li>
                    </ul>
                    <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>
                {% endcall %}
            </div>
        </div>
    </div>
{% endblock %}