{% extends "layout-apply.html" %}

{% set hmpoTitle %}Check your collection appointment{% endset %}

{% block backLink %}
    {{ govukBackLink({
        text:  "Back",
        href:  baseUrl + "/urgent/urgent-choose-time/"+ location.location | lowercase + "/" + ctx("apt-date-time") | date("DD-MM-YYYY") if backLink == "/urgent/urgent-choose-time" else backLink
    }) }}
{% endblock %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>
    {{ govukWarningText({
        text: "You need to complete your application to keep this appointment.",
        iconFallbackText: "Warning"
    }) }}
    <p></p>
    <p>
        <h2>{{ctx("apt-date-time") | date("dddd D MMMM YYYY")}}<br>
        at {{ctx("apt-date-time") | date("h:mma") }}</h2></p>
        <p><span class="govuk-heading-m address-title">{{location.name}}</span>
        {% for item in location.address %}
            {{item }}<br>
        {% endfor %}
        {{location.postcode}}<br>
        <a data-id="appointment-location-map" href="https://www.google.co.uk/maps/?q={{location.name}}, {{location.postcode}}" class="new-window" target="_blank">View map</a>
    </p>

    {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx, { text: "Start your application" }) }}
    {% endcall %}
{% endblock %}
