{% extends "layout-apply.html" %}

{% set morningTimes = [
        "09:00am",
        "09:15am",
        "09:30am",
        "09:45am",
        "10:00am",
        "10:15am",
        "10:30am",
        "10:45am",
        "11:00am",
        "11:15am",
        "11:30am",
        "11:45am"
    ]
%}

{% set afternoonTimes = [
        "12:00pm",
        "12:15pm",
        "12:30pm",
        "12:45pm",
        "1:00pm",
        "1:15pm",
        "1:30pm",
        "1:45pm",
        "2:00pm",
        "2:15pm",
        "2:30pm",
        "2:45pm",
        "3:00pm",
        "3:15pm",
        "3:30pm",
        "3:45pm",
        "4:00pm"
    ]
%}

{% set hmpoTitle %}Choose a collection time{% endset %}

{% block hmpoContent %}

    <h1>{{ hmpoTitle }}</h1>
        <p>
            <span class="govuk-heading-m address-title">{{office.name}}</span>
            {{office.address}},
            {{office.postcode}}
            &nbsp;&nbsp;
            <a data-id="appointment-location-map" href="https://www.google.co.uk/maps/?q={{office.name}}, {{office.postcode}}" class="new-window" target="_blank">View map</a>
        </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading" id="morning">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Morning
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div style="padding-bottom:2em">
                    {% if links.previous %}
                        <div class="earlier-time direction-arrow">
                            <a class="govuk-body-m" href="/urgent/urgent-choose-time/{{office.location | lowercase}}/{{links.previous}}#morning">
                                Earlier
                            </a>
                        </div>
                    {% endif %}
                    {% if links.next %}
                        <div class="later-time direction-arrow {% if ctx("last-full-page") %}hide-above-mobile{% endif %}">
                            <a class="govuk-body-m" href="/urgent/urgent-choose-time/{{office.location | lowercase}}/{{links.next}}#morning">
                                Later
                            </a>
                        </div>
                    {% endif %}
                </div>
                <table class="govuk-table booking-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">

                            {% for day in appointmentsByTimeAndLocation %}
                            <th>
                                {{ day.date | date("dddd") }}<br>
                                {{ day.date | date("D MMMM") }}<br>
                                {{ day.price }}
                            </th>
                            {% endfor %}

                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for time in morningTimes %}
                        <tr class="govuk-table__row">
                            {% for appointments in appointmentsByTimeAndLocation %}
                                {% if appointments.available %}
                                    {% if not time in appointments.timeUnavailable %}
                                        <td class="govuk-table__cell">
                                            <a href="{{baseUrl}}/urgent/urgent-check-appointment/{{office.location | lowercase}}/{{ appointments.date | date('DD-MM-YYYY') }}/{{time}}">
                                                {{time}}<br>
                                                <span class="available">Available</span>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td class="govuk-table__cell">
                                            <span class="unavailable">{{time}}</span>
                                            <span class="govuk-visually-hidden">Unavailable</span>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td class="govuk-table__cell">
                                        <span class="unavailable">{{time}}</span>
                                        <span class="govuk-visually-hidden">Unavailable</span>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
                <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading" id="afternoon">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Afternoon
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div style="padding-bottom:2em">
                    {% if links.previous %}
                        <div class="earlier-time direction-arrow">
                            <a class="govuk-body-m" href="/urgent/urgent-choose-time/{{office.location | lowercase}}/{{links.previous}}#afternoon">
                                Earlier
                            </a>
                        </div>
                    {% endif %}
                    {% if links.next %}
                        <div class="later-time direction-arrow {% if ctx("last-full-page") %}hide-above-mobile{% endif %}">
                            <a class="govuk-body-m" href="/urgent/urgent-choose-time/{{office.location | lowercase}}/{{links.next}}#afternoon">
                                Later
                            </a>
                        </div>
                    {% endif %}
                </div>
                <table class="govuk-table booking-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">

                            {% for day in appointmentsByTimeAndLocation %}
                            <th>
                                {{ day.date | date("dddd") }}<br>
                                {{ day.date | date("D MMMM") }}<br>
                                {{ day.price }}
                            </th>
                            {% endfor %}

                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        {% for time in afternoonTimes %}
                            <tr class="govuk-table__row">
                                {% for appointments in appointmentsByTimeAndLocation %}
                                    {% if appointments.available %}
                                        {% if not time in appointments.timeUnavailable %}
                                            <td class="govuk-table__cell">
                                                <a href="{{baseUrl}}/urgent/urgent-check-appointment/{{office.location | lowercase}}/{{ appointments.date | date('DD-MM-YYYY') }}/{{time}}">
                                                    {{time}}<br>
                                                    <span class="available">Available</span>
                                                </a>
                                            </td>
                                        {% else %}
                                            <td class="govuk-table__cell">
                                                <span class="unavailable">{{time}}</span>
                                                <span class="govuk-visually-hidden">Unavailable</span>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td class="govuk-table__cell">
                                            <span class="unavailable">{{time}}</span>
                                            <span class="govuk-visually-hidden">Unavailable</span>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>



  {% endblock %}
