{% extends "layout-apply.html" %}

{% set hmpoTitle %}Choose a date and place{% endset %}

{% block hmpoContent %}

    <h1>{{ hmpoTitle }}</h1>
    <p> You’ll need to collect your new passport from a <a href="https://www.passport.service.gov.uk/help/passport-offices/">passport office</a>. You can ask someone else to go for you if you’re not available. </p>
    <p>If you can’t find the date and place you need, <a href="https://www.gov.uk/get-a-passport-urgently">check the other urgent services</a>.</p>

    <div style="padding-bottom:2em">
        <div class="later-time direction-arrow ">
            <a class="govuk-body-m" href="#">Later</a>
        </div>
    </div>

    <table class="govuk-table booking-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">

                <th>
                    Wednesday<br>
                    3 June
                </th>

                <th>
                    Thursday<br>
                    4 June
                </th>

                <th>
                    Friday<br>
                    5 June
                </th>

                <th>
                    Saturday<br>
                    6 June
                </th>

                <th>
                    Monday<br>
                    8 June
                </th>

                <th>
                    Tuesday<br>
                    9 June
                </th>

            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="/urgent/urgent-choose-time">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <span class="unavailable">Newport</span><span class="govuk-visually-hidden">
                        Unavailable</span>
                </td>

                <td class="govuk-table__cell">
                    <span class="unavailable">Newport</span><span class="govuk-visually-hidden">
                        Unavailable</span>
                </td>

                <td class="govuk-table__cell">
                    <span class="unavailable">Newport</span><span class="govuk-visually-hidden">
                        Unavailable</span>
                </td>

                <td class="govuk-table__cell">
                    <span class="unavailable">Newport</span><span class="govuk-visually-hidden">
                        Unavailable</span>
                </td>

                <td class="govuk-table__cell">
                    <span class="unavailable">Newport</span><span class="govuk-visually-hidden">
                        Unavailable</span>
                </td>

                <td class="govuk-table__cell">
                    <span class="unavailable">Newport</span><span class="govuk-visually-hidden">
                        Unavailable</span>
                </td>

            </tr>
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>
                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>

            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>

            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Belfast
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Belfast
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Belfast
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Belfast
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <span class="unavailable">Belfast</span><span class="govuk-visually-hidden">
                        Unavailable</span>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Belfast
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>

        </tbody>
    </table>

{% endblock %}