{% extends "layout-apply.html" %}

{% set hmpoTitle %}Choose a date and place{% endset %}

{% set conText %}
    {% if values.urgent and values.urgentNameChanged == "false" %}
        
    {% else %}
        and documents
    {% endif %}
{% endset %}

{% block hmpoContent %}

    <h1>{{ hmpoTitle }}</h1>
    <p> You’ll need to bring your old passport {{conText}} to a <a href="https://www.passport.service.gov.uk/help/passport-offices/">passport office</a>, and return 2 hours later to collect your new passport.</p>
    <p>You can ask someone else to go for you if you’re not available.</p>

    <div style="padding-bottom:2em">
        <div class="earlier-time direction-arrow ">
            <a class="govuk-body-m" href="/urgent/urgent-choose-date-and-place">Earlier</a>
        </div>
        <div class="later-time direction-arrow ">
            <a class="govuk-body-m" href="#">Later</a>
        </div>
    </div>

    <table class="govuk-table booking-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">

                <th>
                    Tuesday<br>
                    6 April<br><br>
                    £142
                </th>

                <th>
                    Wednesday<br>
                    7 April<br><br>
                    £142
                </th>

                <th>
                    Thursday<br>
                    8 April<br><br>
                    £142
                </th>

                <th>
                    Friday<br>
                    9 April<br><br>
                    £142
                </th>

                <th>
                    Saturday<br>
                    10 April<br><br>
                    £142
                </th>

            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a>
                        <span class="unavailable">London</span><span class="govuk-visually-hidden">Unavailable</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="/urgent/urgent-choose-time">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        London
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Peterborough
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Newport
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Newport
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Newport
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <span class="unavailable">Newport</span><span class="govuk-visually-hidden">Unavailable</span>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Newport
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>
                <td class="govuk-table__cell">
                    <a href="#">
                        Liverpool
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>

            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Durham
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>


            </tr>
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Glasgow
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

            </tr>

            <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                    <a href="#">
                        Belfast
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Belfast
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Belfast
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <a href="#">
                        Belfast
                        <br>
                        <span class="available">Available</span>
                    </a>
                </td>

                <td class="govuk-table__cell">
                    <span class="unavailable">Belfast</span><span class="govuk-visually-hidden">
                        Unavailable</span>
                </td>

            </tr>

        </tbody>
    </table>

{% endblock %}