{% extends "layout-apply.html" %}

{% set hmpoTitle %}Choose a collection time{% endset %}

{% block hmpoContent %}

    <h1>{{ hmpoTitle }}</h1>
    <p><span class="govuk-heading-m address-title">London HM Passport Office</span>
        Globe House,89 Eccleston Square,London,
        SW1V 1PN
        &nbsp;&nbsp;
        <a data-id="appointment-location-map" href="https://www.google.co.uk/maps/?q=London HM Passport Office, SW1V 1PN" class="new-window" target="_blank">View map</a>
    </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Morning
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div style="padding-bottom:2em">
                    <div class="later-time direction-arrow">
                        <a class="govuk-body-m" href="#">Later</a>
                    </div>
                </div>
                <table class="govuk-table booking-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">

                            <th>
                                Thursday<br>
                                1 April<br><br>
                                £177
                            </th>

                            <th>
                                Friday<br>
                                2 April<br><br>
                                £177
                            </th>

                            <th>
                                Saturday<br>
                                3 April<br><br>
                                £177
                            </th>

                            <th>
                                Monday<br>
                                5 April<br><br>
                                £177
                            </th>

                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <span class="unavailable">09:00am</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">09:15am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:15am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:15am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:15am<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">09:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>
                        
                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">09:45am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:45am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:45am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">09:45am<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="/urgent/urgent-check-appointment">10:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">10:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">10:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">10:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <span class="unavailable">10:15am</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">10:15am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">10:15am</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">10:15am<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">10:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">10:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">10:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">10:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">10:45am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">10:45am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">10:45am</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">10:45am</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">11:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">11:00am</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">11:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                                <td class="govuk-table__cell">
                                <a href="#">11:00am<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>
                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">11:15am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">11:15am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">11:15am</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">11:15am</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">11:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">11:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">11:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">11:30am<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">11:45am<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">11:45am<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">11:45am<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">11:45am<br>
                                    <span class="available"> Available</span></a>
                            </td>

                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
                <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Afternoon
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div style="padding-bottom:2em">
                    <div class="later-time direction-arrow">
                        <a class="govuk-body-m" href="#">Later</a>
                    </div>
                </div>
                <table class="govuk-table booking-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">

                            <th>
                                Thursday<br>
                                1 April<br><br>
                                £177
                            </th>

                            <th>
                                Friday<br>
                                2 April<br><br>
                                £177
                            </th>

                            <th>
                                Saturday<br>
                                3 April<br><br>
                                £177
                            </th>

                            <th>
                                Monday<br>
                                5 April<br><br>
                                £177
                            </th>

                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <span class="unavailable">12:00pm</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">12:15pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:15pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:15pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:15pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">12:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>
                        
                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">12:45pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:45pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:45pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">12:45pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="/urgent/urgent-check-appointment">1:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">1:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">1:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">1:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <span class="unavailable">1:15pm</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">1:15pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">1:15pm</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">1:15pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">1:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">1:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">1:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">1:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">1:45pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">1:45pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">1:45pm</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">1:45pm</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">2:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">2:00pm</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">2:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                                <td class="govuk-table__cell">
                                <a href="#">2:00pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>
                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">2:15pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">2:15pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">2:15pm</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                            <td class="govuk-table__cell">
                                <span class="unavailable">2:15pm</span><span class="govuk-visually-hidden">
                                Unavailable</span>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">2:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">2:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">2:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">2:30pm<br>
                                <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">2:45pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">2:45pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">2:45pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">2:45pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">3:00pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:00pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:00pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:00pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">3:15pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:15pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:15pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:15pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">3:30pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:30pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:30pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:30pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">3:45pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:45pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:45pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">3:45pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                        </tr>

                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">
                                <a href="#">4:00pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">4:00pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">4:00pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a href="#">4:00pm<br>
                                    <span class="available"> Available</span></a>
                            </td>

                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

  {% endblock %}