{% extends "layout-apply.html" %}

{% set hmpoTitle %}When was your passport issued?{% endset %}

{% block mainContent %}

    {% call hmpoForm(ctx) %}

        {{ hmpoDate(ctx, {
            id: "passportIssue",
            legend: {
                text: hmpoTitle
            },
            hint: "For example, 19 08 2007",
            isPageHeading: true
        }) }}

        {% call hmpoSidebar({ attributes: { "aria-hidden": true }, classes: "hmpo-sidebar__small-image" }) %}
            <h2>Where to find your passport issue date</h2>
            <img src="/public/images/issue_date_illustration.png" alt="">
        {% endcall %}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}