{% extends "layout-apply.html" %}

{% set hmpoTitle %}Do you have any passports from other countries?{% endset %}

{% block mainContent %}

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "dpsOtherPassports",
            legend: {
                text: hmpoTitle
            },
            isPageHeading: true,
            items: [{
                value: true
            }, {
                value: false
            }]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}


{% endblock %}