{% extends "layout-apply.html" %}

{% set hmpoTitle %}Apply for a UK passport{% endset %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>
    <p>Based on your answers, you’re applying for an adult renewal.</p>
    <p>If you’re applying for someone who is unable to make their own decisions, you need to<a href="https://www.gov.uk/get-a-passport-urgently"> apply with Paper Premium</a>.</p>
    <br/>

    {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}
{% endblock %}

