{% extends "layout-apply.html" %}

{% set hmpoTitle %}Get a digital photo{% endset %}

{%- set photoCodeConditional -%}
    <p>Check if your printed photos have a photo code – you’ll need to enter this code to retrieve your photo.</p>
    <p>The photo code may not be available from photo booths or shops in your area.</p>
{%- endset -%}

{% block mainContent %}

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "photoMethod",
            legend: {
                text: hmpoTitle
            },
            isPageHeading: true,
            items: [{
                value: "digital-photo",
                text: "I’ll take or upload a digital photo"
            }, {
                value: "photo-code",
                text: "I have a code to enter",
                conditional: { html: photoCodeConditional }
            }]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}


{% endblock %}
