{% extends "layout-apply.html" %}

{% set hmpoTitle %}Do you want to submit this photo?{% endset %}

{% block mainContent %}

    <h1>{{ hmpoTitle }}</h1>

    {% include "../includes/photo-preview.html" %}

    {% call hmpoWarningText() %}
        By continuing you confirm that your photo meets the <a href="/help/photo-rules" target="_blank">photo rules</a>
    {% endcall %}

    {% call hmpoForm(ctx) %}
        {{ hmpoRadios(ctx, {
            id: "submitPhoto",
            legend: { classes: "govuk-visually-hidden" },
            items: [
                { value: true, text: "Yes, this photo meets the rules" },
                { value: false, text: "No, I want to get another photo" }
            ]
        }) }}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}

{% endblock %}
