{% extends "layout-apply.html" %}

{% set hmpoTitle %}How to take a digital passport photo{% endset %}

{% set adultPhotoSection %}

    {% if values.labTestOptions == 'option1' %}

        <h2>Photos for adults</h2>

        <h3>Use a plain light-coloured background</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>no texture or patterns</li>
            <li>no objects behind you</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-3-1.jpg" alt="">
                <p class="result approved">Plain light-coloured background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-3-2.jpg" alt="">
                <p class="result failed">Textured background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-3-6.jpg" alt="">
                <p class="result failed">Object in background</p>
            </li>
        </ul>


        <h3>Even lighting and no shadows</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>balanced light - no shadows on your face or behind you</li>
            <li>it’s best to use natural sunlight, for example facing a window</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-5-1.jpg" alt="">
                <p class="result approved">Even lighting and no shadow</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-5-6.jpg" alt="">
                <p class="result failed">Shadow on face</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-5-9.jpg" alt="">
                <p class="result failed">Shadow behind head</p>
            </li>
        </ul>


        <h3>Stand in the right position</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>stand 0.5 metres (1.5 feet) away from your background (this reduces shadow)</li>
            <li>the person taking the photo should stand 1.5 metres (5 feet) from you</li>
            <li>include your head, shoulders and upper body in the photo</li>
            <li>don’t crop your photo - it will be done for you</li>
        </ul>

        <ul class="photo-guide-photos large" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-1-2.jpg" alt="">
            </li>
        </ul>


        <h3>Plain expression and face in full view</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>face front on to the camera</li>
            <li>don’t smile or frown - eyes open and mouth closed</li>
            <li>your photo should be a good likeness and taken in the last month</li>
        <ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-4-2.jpg" alt="">
                <p class="result approved">Plain expression</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-4-4.jpg" alt="">
                <p class="result failed">Smiling</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-6-5.jpg" alt="">
                <p class="result failed">Looking away from camera</p>
            </li>
        </ul>


        <h3>No headwear</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>unless it’s for religious or medical reasons</li>
        <ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-12-1.jpg" alt="">
                <p class="result approved">Religious headwear</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-4-7.jpg" alt="">
                <p class="result failed">Fashion hair accessories</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-3-12.jpg" alt="">
                <p class="result failed">Fashion headwear</p>
            </li>
        </ul>


        <h3>Eyes fully visible</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>hair away from your face and eyes</li>
            <li>take your glasses off (if you can)</li>
        </ul>

        <p>If you need to keep glasses on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your eyes must be visible without any glare or reflections</li>
            <li>no sunglasses or tinted glasses</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-6-6.jpg" alt="">
                <p class="result approved">Eyes fully visible</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-6-2.jpg" alt="">
                <p class="result failed">Glasses covering eyes</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-1-4.jpg" alt="">
                <p class="result failed">Hair covering eyes</p>
            </li>
        </ul>


        <h3>Watch ‘How to take a digital passport photo’</h3>

        <div class="videoWrapper">
            <iframe src="https://www.youtube.com/embed/JWbfnOYmx6I?rel=0" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

    {% else %}

        <h2>Photos for adults</h2>

        <h3>Use a plain light-coloured background</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>no texture or patterns</li>
            <li>no objects behind you</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-6-6.jpg" alt="">
                <p class="result approved">Plain light-coloured background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-3-2.jpg" alt="">
                <p class="result failed">Textured background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-12-9.jpg" alt="">
                <p class="result failed">Object in background</p>
            </li>
        </ul>


        <h3>Even lighting and no shadows</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>balanced light - no shadows on your face or behind you</li>
            <li>it’s best to use natural sunlight, for example facing a window</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-3-1.jpg" alt="">
                <p class="result approved">Even lighting and no shadow</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-5-6.jpg" alt="">
                <p class="result failed">Shadow on face</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-1-3.jpg" alt="">
                <p class="result failed">Shadow behind head</p>
            </li>
        </ul>


        <h3>Stand in the right position</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>stand 0.5 metres (1.5 feet) away from your background (this reduces shadow)</li>
            <li>the person taking the photo should stand 1.5 metres (5 feet) from you</li>
            <li>include your head, shoulders and upper body in the photo</li>
            <li>don’t crop your photo - it will be done for you</li>
        </ul>

        <ul class="photo-guide-photos large" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-4-2.jpg" alt="">
            </li>
        </ul>


        <h3>Plain expression and face in full view</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>face front on to the camera</li>
            <li>don’t smile or frown - eyes open and mouth closed</li>
            <li>your photo should be a good likeness and taken in the last month</li>
        <ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-1-2.jpg" alt="">
                <p class="result approved">Plain expression</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-5-13.jpg" alt="">
                <p class="result failed">Smiling</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-6-5.jpg" alt="">
                <p class="result failed">Looking away from camera</p>
            </li>
        </ul>


        <h3>No headwear</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>unless it’s for religious or medical reasons</li>
        <ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-12-1.jpg" alt="">
                <p class="result approved">Religious headwear</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-4-7.jpg" alt="">
                <p class="result failed">Fashion hair accessories</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-3-12.jpg" alt="">
                <p class="result failed">Fashion headwear</p>
            </li>
        </ul>


        <h3>Eyes fully visible</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>hair away from your face and eyes</li>
            <li>take your glasses off (if you can)</li>
        </ul>

        <p>If you need to keep glasses on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your eyes must be visible without any glare or reflections</li>
            <li>no sunglasses or tinted glasses</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-5-1.jpg" alt="">
                <p class="result approved">Eyes fully visible</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-6-2.jpg" alt="">
                <p class="result failed">Glasses covering eyes</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/adult/Passport-example-4-1.jpg" alt="">
                <p class="result failed">Hair covering eyes</p>
            </li>
        </ul>


        <h3>Watch ‘How to take a digital passport photo’</h3>

        <div class="videoWrapper">
            <iframe src="https://www.youtube.com/embed/JWbfnOYmx6I?rel=0" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

    {% endif %}

{% endset %}

{% set childPhotoSection %}

    {% if values.labTestOptions == 'option1' %}

        <h2>Photos for babies and children</h2>

        <h3>Use a plain light-coloured background</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>no texture or patterns</li>
            <li>children must be on their own in the photo</li>
            <li>babies must not be holding toys or dummies</li>
        </ul>

        <p>Children under 1:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you can support their head with your hand but your hand must not be visible</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-8-1.jpg" alt="">
                <p class="result approved">Plain light-coloured background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-8-3.jpg" alt="">
                <p class="result failed">Holding a toy</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-8-4.jpg" alt="">
                <p class="result failed">Object in background</p>
            </li>
        </ul>


        <h3>Even lighting and no shadows</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>balanced light - no shadows on your child’s face or behind them</li>
            <li>it’s best to use natural sunlight, for example facing a window</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-9-1.jpg" alt="">
                <p class="result approved">Even lighting and no shadow</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-9-8.jpg" alt="">
                <p class="result failed">Shadow on face</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-9-4.jpg" alt="">
                <p class="result failed">Shadow behind head</p>
            </li>
        </ul>


        <h3>Stand in the right position</h3>

        <p>When you take the photo of your child:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>they should stand 0.5 metres (1.5 feet) from the background (this reduces shadow)</li>
            <li>you need to stand far enough away so that their head, shoulders and upper body are included in the photo</li>
            <li>don’t crop the photo - it will be done for you</li>
        </ul>

        <p>Children under 1:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>lay them on a plain light-coloured sheet and take the photo from above</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-2-2.jpg" alt="">
                <p class="result approved">Plain light-coloured background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-2-6.jpg" alt="">
                <p class="result failed">Dark background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-2-9.jpg" alt="">
                <p class="result failed">Holding a toy</p>
            </li>
        </ul>


        <h3>Plain expression and face in full view</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>face front on to the camera</li>
            <li>no smile or frown - eyes open and mouth closed</li>
            <li>your child’s photo should be a good likeness and taken in the last month</li>
        </ul>

        <p>Children under 6:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>don’t have to look directly at the camera</li>
            <li>don’t need to have a plain expression</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-7-5.jpg" alt="">
                <p class="result approved">Plain expression</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-7-2.jpg" alt="">
                <p class="result failed">Smiling</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-10-12.jpg" alt="">
                <p class="result failed">Looking away from camera</p>
            </li>
        </ul>


        <h3>No headwear</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>unless it’s for religious or medical reasons</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-11-7.jpg" alt="">
                <p class="result approved">Religious headwear</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-11-5.jpg" alt="">
                <p class="result failed">Fashion hair accessories</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-9-5.jpg" alt="">
                <p class="result failed">Fashion headwear</p>
            </li>
        </ul>


        <h3>Eyes fully visible</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>hair away from your face and eyes</li>
            <li>take your glasses off (if you can)</li>
        </ul>

        <p>Children under 1:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>don’t have to have their eyes open</li>
        </ul>

        <p>If your child needs to keep their glasses on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>their eyes must be visible without any glare or reflections</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-10-1.jpg" alt="">
                <p class="result approved">Eyes fully visible</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-10-10.jpg" alt="">
                <p class="result failed">Glasses covering eyes</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-10-4.jpg" alt="">
                <p class="result failed">Hair covering eyes</p>
            </li>
        </ul>

    {% else %}

        <h2>Photos for babies and children</h2>

        <h3>Use a plain light-coloured background</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>no texture or patterns</li>
            <li>children must be on their own in the photo</li>
            <li>babies must not be holding toys or dummies</li>
        </ul>

        <p>Children under 1:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you can support their head with your hand but your hand must not be visible</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-10-1.jpg" alt="">
                <p class="result approved">Plain light-coloured background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-8-4.jpg" alt="">
                <p class="result failed">Object in background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-9-2.jpg" alt="">
                <p class="result failed">Someone else in background</p>
            </li>
        </ul>


        <h3>Even lighting and no shadows</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>balanced light - no shadows on your child’s face or behind them</li>
            <li>it’s best to use natural sunlight, for example facing a window</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-9-1.jpg" alt="">
                <p class="result approved">Even lighting and no shadow</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-10-16.jpg" alt="">
                <p class="result failed">Shadow on face</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-7-3.jpg" alt="">
                <p class="result failed">Shadow behind head</p>
            </li>
        </ul>


        <h3>Stand in the right position</h3>

        <p>When you take the photo of your child:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>they should stand 0.5 metres (1.5 feet) from the background (this reduces shadow)</li>
            <li>you need to stand far enough away so that their head, shoulders and upper body are included in the photo</li>
            <li>don’t crop the photo - it will be done for you</li>
        </ul>

        <p>Children under 1:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>lay them on a plain light-coloured sheet and take the photo from above</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-2-2.jpg" alt="">
                <p class="result approved">Plain light-coloured background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-2-6.jpg" alt="">
                <p class="result failed">Dark background</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-2-9.jpg" alt="">
                <p class="result failed">Holding a toy</p>
            </li>
        </ul>


        <h3>Plain expression and face in full view</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>face front on to the camera</li>
            <li>no smile or frown - eyes open and mouth closed</li>
            <li>your child’s photo should be a good likeness and taken in the last month</li>
        </ul>

        <p>Children under 6:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>don’t have to look directly at the camera</li>
            <li>don’t need to have a plain expression</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-8-2.jpg" alt="">
                <p class="result approved">Not a plain expression (if under 6)</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-11-9.jpg" alt="">
                <p class="result failed">Smiling</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-10-12.jpg" alt="">
                <p class="result failed">Looking away from camera</p>
            </li>
        </ul>


        <h3>No headwear</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>unless it’s for religious or medical reasons</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-11-7.jpg" alt="">
                <p class="result approved">Religious headwear</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-11-5.jpg" alt="">
                <p class="result failed">Fashion headwear</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-9-5.jpg" alt="">
                <p class="result failed">Fashion hair accessories</p>
            </li>
        </ul>


        <h3>Eyes fully visible</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>hair away from your face and eyes</li>
            <li>take your glasses off (if you can)</li>
        </ul>

        <p>Children under 1:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>don’t have to have their eyes open</li>
        </ul>

        <p>If your child needs to keep their glasses on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>their eyes must be visible without any glare or reflections</li>
        </ul>

        <ul class="photo-guide-photos" aria-hidden="true">
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-7-5.jpg" alt="">
                <p class="result approved">Eyes fully visible</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-8-5.jpg" alt="">
                <p class="result failed">Hair covering eyes</p>
            </li>
            <li>
                <img src="/public/images/photo-guidance/child/Passport-example-10-10.jpg" alt="">
                <p class="result failed">Glasses covering eyes</p>
            </li>
        </ul>

    {% endif %}

{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    <p>Use this guidance to take a digital photo that meets the passport photo rules.</p>

    {% call hmpoInsetText() %}
        If your photo doesn’t meet the rules you may have problems with your application or when you travel.
    {% endcall %}

    {% if values.adultOrChild == 'adult' %}
        {{ adultPhotoSection | safe }}
    {% else %}
        {{ childPhotoSection | safe }}
    {% endif %}

    {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}

    {% call hmpoDetails({ summaryText: "I can’t meet the photo rules" }) %}
        You can still use a photo if you can’t meet the photo rules because of a religious or medical reason.
        We’ll ask you to explain the circumstances when you submit your photo.
    {% endcall %}

    {{ hmpoPrintPage() }}

{% endblock %}
