{% extends "layout-apply.html" %}

{% set hmpoTitle %}Retrieve your digital photo{% endset %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {% call hmpoErrorGroup(ctx, {
            id: "photoCode",
            classes: "photo-code",
            legend: {
                text: "Photo code",
                classes: "govuk-fieldset__legend--m"
            },
            hint: "This is case-sensitive, for example abc.de/1fG2h3i4"
        }) %}
            {{ hmpoText(ctx, {
                id: "photoCodeSld",
                classes: "govuk-input--width-5",
                label: {
                    text: "First part",
                    classes: "govuk-visually-hidden"
                }
            }) }}
            <span class="photo-code__separator">.</span>
            {{ hmpoText(ctx, {
                id: "photoCodeTld",
                classes: "govuk-input--width-3",
                label: {
                    text: "Second part",
                    classes: "govuk-visually-hidden"
                }
            }) }}
            <span class="photo-code__separator">/</span>
            {{ hmpoText(ctx, {
                id: "photoCodePath",
                classes: "govuk-input--width-5",
                label: {
                    text: "Third part",
                    classes: "govuk-visually-hidden"
                }
            }) }}
        {% endcall %}

        {% call hmpoSidebar({ classes: "hmpo-sidebar__big-image" }) %}
            <h2>Where to find your code</h2>
            <img src="/public/images/printed-photo-code.jpg" alt="">
        {% endcall %}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}
{% endblock %}
