
{% from "hmpo-inset-text/macro.njk" import hmpoInsetText %}

{% call hmpoInsetText({
    id: "covid-19-panel",
    classes: "hmpo-inset-info"
}) %}
    <p>Coronavirus (COVID-19) - Normal service standards are currently suspended. We cannot confirm when a passport will be received, or when documents provided in support of an application will be returned.</p>
{% endcall %}
