{% from "hmpo-details/macro.njk" import hmpoDetails %}
{% from "hmpo-html/macro.njk" import hmpoHtml %}

{{ hmpoDetails({
    summaryText: "My documents aren’t in English or Welsh",
    html: hmpoHtml("If your documents aren’t in English or Welsh you’ll need to get a <a id=\"certifying-a-document-link\" href=\"https://www.gov.uk/certifying-a-document\" rel=\"external\" target=\"_blank\">certified translation</a>. Send us the original document and the certified translation.")
}) }}
