{% extends "layout-apply.html" %}

{% set hmpoTitle %}
    {% if values.applicationType == "first" %}
        Apply for a first UK passport
    {% else %}
        Apply for a UK passport
    {% endif %}
{% endset %}

{% block mainContent %}
    {% call hmpoForm(ctx) %}

        <h1>{{ hmpoTitle }}</h1>

        {# Urgent #}
        {% if values.urgent == true %}
            <p>Based on your answers, you’re applying for an adult renewal.</p>
            <p>If you’re applying for someone who is unable to make their own decisions, you need to<a href="https://www.gov.uk/get-a-passport-urgently"> apply with Paper Premium</a>.</p>

    {% else %}

        {# Hidden FTA (Old Blue) #}
        {% if values.oldBlue and values.adultOrChild == "adult" %}
            <p>Based on your answers, you have an old passport that was issued in {{values.passportIssue | date("YYYY") }}.</p>
            <p>As your passport was issued a long time ago, you must apply for a first UK passport and you may need to have a <a href="/help/identity-interviews" target="_blank">passport interview</a>.</p>

        {# FTC #}
        {% elif values.applicationType == "first" and values.adultOrChild == "child" %}
            <p>Based on your answers, you’re applying for a first, child passport.</p>
            <p>You need to have <a href="https://www.gov.uk/types-of-british-nationality" target="_blank">British nationality</a> to get a UK passport. Check you’re eligible before you apply.</p>

        {# FTA #}
        {% elif values.applicationType == "first" and values.adultOrChild == "adult" %}
            <p>Based on your answers, you’re applying for a first, adult passport.</p>
            <p>You need to have <a href="https://www.gov.uk/types-of-british-nationality" target="_blank">British nationality</a> to get a UK passport. Check you’re eligible before you apply.</p>

        {# Replacements Damaged Child 0–11s, Replacements Damaged Child 12–15s #}
        {% elif values.applicationType == "renew" and values.damaged and values.adultOrChild == "child" %}
            <p>Based on your answers, you’re applying for a replacement, child passport.</p>
            <p>If you want to change the name on this passport, we’ll ask for the details later on.</p>

        {# Replacements Damaged Adult #}
        {% elif values.applicationType == "renew" and values.damaged and values.adultOrChild == "adult" %}
            <p>Based on your answers, you’re applying for a replacement, adult passport.</p>
            <p>If you want to change the name on this passport, we’ll ask for the details later on.</p>

        {# Lost or Stolen Child 0–11s, Lost or Stolen Child 12–15s #}
        {% elif values.applicationType == "renew" and values.lost and values.adultOrChild == "child" %}
            <p>Based on your answers, your passport was lost or stolen. you’re applying for a replacement child passport.</p>
            <p>If you want to change the name on this passport, we’ll ask for the details later on.</p>

        {# Lost or Stolen Adult #}
        {% elif values.applicationType == "renew" and values.lost and values.adultOrChild == "adult" %}
            <p>Based on your answers, your passport was lost or stolen. you’re applying for a replacement adult passport.</p>
            <p>If you want to change the name on this passport, we’ll ask for the details later on.</p>

        {# 0–11 Renewals, 12–15 Renewals #}
        {% elif values.applicationType == "renew" and values.adultOrChild == "child" %}
            <p>Based on your answers, you’re renewing a child passport.</p>
            <p>If you want to change the name on this passport, we’ll ask for the details later on.</p>

        {# Adult Renewals #}
        {% elif values.applicationType == "renew" and values.adultOrChild == "adult" %}
            <p><p>Based on your answers, you’re applying for an adult renewal.</p>
            <p>If you want to change the name on this passport, we’ll ask for the details later on.</p>

        {% endif %}

        <!-- {# Cost #}
        <h2>Cost</h2>
        {% if values.adultOrChild == "adult" and values.isUKApplication %}
            <p> A standard passport costs £75.50.</p>
        {% elif values.adultOrChild == "child" and values.isUKApplication %}
            <p> A standard passport costs £49.</p>
        {% elif values.adultOrChild == "adult" and not values.isUKApplication %}
            <p> A standard passport costs £86 plus a £19.86 courier fee.</p>
        {% elif values.adultOrChild == "child" and not values.isUKApplication %}
            <p> A standard passport costs £56 plus a £19.86 courier fee.</p>
        {% endif %}


        {# How long it takes #}
        <h2>How long it takes</h2>
        {# FTC #}
        {% if values.applicationType == "first" and values.adultOrChild == "child" %}

            <p>It should take 3 weeks to get a new passport.</p>

        {# FTA #}
        {% elif values.applicationType == "first" and values.adultOrChild == "adult" %}

            {% if values.ageGroup == "rising16" %}
                <p>As you’re about to turn 16, you’ll get an adult passport. It should take around 6 weeks - you won’t get it before your birthday.<p>
            {% else %}
                <p>It should take around 6 weeks to get a new passport.</p>
            {% endif %}

        {# Lost or Stolen Child 0–11s, Lost or Stolen Child 12–15s #}
        {% elif values.applicationType == "renew" and values.lost and values.adultOrChild == "child" %}

            <p>It should take 3 weeks to get a new passport. Use the 1 week Fast Track service if you need to <a href="https://www.gov.uk/get-a-passport-urgently/1-week-fast-track-service">get a passport urgently</a>.</p>

        {# Lost or Stolen Adult #}
        {% elif values.applicationType == "renew" and values.lost and values.adultOrChild == "adult" %}

            {% if values.ageGroup == "rising16" %}
                <p>As you’re about to turn 16, you’ll get an adult passport. It should take 3 weeks - you won’t get it before your birthday.</p>
            {% else %}
                <p>It should take 3 weeks to get a new passport. Use the 1 week Fast Track service if you need to <a href="https://www.gov.uk/get-a-passport-urgently/1-week-fast-track-service">get a passport urgently</a>.</p>
            {% endif %}

        {# 0–11 Renewals, 12–15 Renewals #}
        {% elif values.applicationType == "renew" and values.adultOrChild == "child" %}

            <p>It should take 3 weeks to get a new passport. Use a different service if you need to <a href="https://www.gov.uk/get-a-passport-urgently">get a passport urgently</a>.</p>

        {# Adult Renewals #}
        {% elif values.applicationType == "renew" and values.adultOrChild == "adult" %}

            {% if values.ageGroup == "rising16" %}
                <p>As you’re about to turn 16, you’ll get an adult passport. It should take 3 weeks - you won’t get it before your birthday.</p>
            {% else %}
                <p>It should take 3 weeks to get a new passport. Use a different service if you need to <a href="https://www.gov.uk/get-a-passport-urgently">get a passport urgently</a>.</p>
            {% endif %}

        {% endif %}


        {# To make your application you’ll need: #}
        <h2>To complete your application you’ll need to:</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>fill in your application details</li>
            <li>pay online for your passport</li>

            {# FTC #}
            {% if values.applicationType == "first" and values.adultOrChild == "child" %}

                <li>get someone to <a href="../help/confirming-your-identity" target="_blank">confirm your identity</a> &ndash; we’ll show you how</li>
                <li>send us your documents &ndash; we’ll tell you what you need to send</li>

            {# FTA, Hidden FTA (Old Blue) #}
            {% elif values.applicationType == "first" and values.adultOrChild == "adult" %}

                <li>get someone to <a href="../help/confirming-your-identity" target="_blank">confirm your identity</a> &ndash; we’ll show you how</li>
                <li>send us your documents &ndash; we’ll tell you what you need to send</li>
                <p style="margin-left: -20px; margin-top: 20px;">If you need an <a href="../help/identity-interviews" target="_blank">interview</a>, we’ll write to you with the details.</p>

            {# Lost or Stolen Child 0–11s, Lost or Stolen Child 12–15s, Lost or Stolen Adult #}
            {% elif values.applicationType == "renew" and values.lost %}

                <li>get someone to <a href="../help/confirming-your-identity" target="_blank">confirm your identity</a> &ndash; we’ll show you how</li>

            {# 0–11 Renewals, Replacements Damaged Child 0–11s #}
            {% elif values.applicationType == "renew" and values.ageGroup == "under12" %}

                <li>get someone to <a href="../help/confirming-your-identity" target="_blank">confirm your identity</a> &ndash; we’ll show you how</li>
                <li>send us your old passport</li>

            {# 12–15 Renewals, Adult Renewals, Replacements Damaged Child 12–15s, Replacements Damaged Adult #}
            {% elif values.applicationType == "renew" and not values.ageGroup == "under12" %}

                <li>send us your old passport</li>

            {% endif %}
        </ul>

        <br/> -->

        {# COVID-19 messaging #}
        <h2>Coronavirus (COVID-19)</h2>
        <p>Coronavirus (COVID-19) – in line with public health guidance, we are working with fewer staff. It will take
            longer than usual to process your application.</p>

        {{ hmpoRadios(ctx, {
            id: "applyReason",
            legend: {
                text: "Why do you need to apply for a passport now?",
                classes: "govuk-label--m"
            },
            items: [
                { value: "compassionate", text: "Urgent travel for compassionate reasons" },
                { value: "government", text: "Urgent travel for government reasons" },
                { value: "identification", text: "Urgent need for identification purposes" },
                { value: "leisure", text: "Travel for leisure" },
                { value: "renewal", text: "Existing passport needs to be renewed" },
                { value: "another", text: "Another reason" }
            ]
        }) }}

        {% endif %}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}
{% endblock %}