{% extends "layout-apply.html" %}

{% set hmpoTitle %}How did you change your name?{% endset %}

{% block mainContent %}

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "nameChangeReason",
            legend: {
                text: hmpoTitle
            },
            isPageHeading: true,
            hint: "We need to know how you changed your name so we can tell you which documents to send.",
            items: [
                { value: "Marriage or civil partnership", text: "Marriage or civil partnership" },
                { value: "Divorce or dissolution", text: "Divorce or dissolution" },
                { value: "Gender transition", text: "Gender transition" },
                { value: "I changed my name another way", text: "I changed my name another way" }
            ]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
