{% extends "layout-apply.html" %}

{% set hmpoTitle %}Check this application{% endset %}

{% set appointmentTime %}
    <p>Wednesday 3 June 2020<br>
    at 10:00pm</p>
{% endset %}
{% set appointmentAddress %}
    <p>London HM Passport Office<br>
    Globe House<br>
    89 Eccleston Square<br>
    London<br>
    SW1V 1PN<br>
    </p>
{% endset %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    {% if values.previousPassport %}
        <h2>Old passport details</h2>
        {% if values.oldBlue %}
            {{ govukSummaryList({ rows: [
                {
                    key: { text: "Passport number" },
                    value: { text: values.oldPassportNumber },
                    actions: { items: [{ text: "Change", href: "/apply/old-passport-details/edit" }]}
                },
                {
                    key: { text: "Passport expiry" },
                    value: { text: values.oldPassportExpiry | date },
                    actions: { items: [{ text: "Change", href: "/apply/old-passport-details/edit" }]}
                },
                {
                    key: { text: "Damaged" },
                    value: { text: values.damagedReason if values.damaged else "No" },
                    actions: { items: [{ text: "Change", href: "/filter/damaged/edit" }]}
                }
            ] }) }}
        {% elif values.lost %}
            {{ govukSummaryList({ rows: [
                {
                    key: { text: "Passport number (optional)" },
                    value: { text: values.optionalPassportNumber },
                    actions: { items: [{ text: "Change", href: "/apply/optional-passport-details/edit" }]}
                },
                {
                    key: { text: "Passport expiry (optional)" if values.lost else "Passport expiry" },
                    value: { text: values.optionalPassportExpiry | date },
                    actions: { items: [{ text: "Change", href: "/apply/optional-passport-details/edit" }]}
                }
            ] }) }}
        {% else %}
            {{ govukSummaryList({ rows: [
                {
                    key: { text: "Passport number" },
                    value: { text: values.passportNumber },
                    actions: { items: [{ text: "Change", href: "/apply/passport-details/edit" }]}
                },
                {
                    key: { text: "Passport expiry" },
                    value: { text: values.passportExpiry | date },
                    actions: { items: [{ text: "Change", href: "/apply/passport-details/edit" }]}
                },
                {
                    key: { text: "Damaged" },
                    value: { text: values.damagedReason if values.damaged else "No" },
                    actions: { items: [{ text: "Change", href: "/filter/damaged/edit" }]}
                }
            ] }) }}
        {% endif %}
    {% endif %}

    <h2>New passport details</h2>
    {% set previousNames = [
        (values.previousFirstName1 + " " + values.previousLastName1) | trim,
        (values.previousFirstName2 + " " + values.previousLastName2) | trim,
        (values.previousFirstName3 + " " + values.previousLastName3) | trim
    ] | filter %}

    {# TODO: If edit `Name change`, need to route to name -> change-of-name -> previous-names pages #}
    {{ govukSummaryList({ rows: [
        {
            key: { text: "Title" },
            value: { text: values.otherTitle if values.title == "Other" else values.title },
            actions: { items: [{ text: "Change", href: "/apply/name/edit" }]}
        },
        {
            key: { text: "Name" },
            value: { text: values.firstName + " " + values.lastName },
            actions: { items: [{ text: "Change", href: "/apply/name/edit" }]}
        },
        {
            key: { text: "Name change" },
            value: {
                text: "Your name hasn’t changed" if not values.changeOfName
                    else ("Your name has changed" if values.adultOrChild == "child" else values.nameChangeReason)
            },
            actions: { items: [{ text: "Change", href: "/apply/name/edit" }]}
        },
        {
            key: { text: "Previous names" },
            value: { html: previousNames | join("<br/>") if values.previousNames else "You have never been known by any other names" },
            actions: { items: [{ text: "Change", href: "/apply/previous-names/edit" }]}
        },
        {
            key: { text: "Gender" },
            value: { text: values.gender },
            actions: { items: [{ text: "Change", href: "/apply/gender/edit" }]}
        },
        {
            key: { text: "Date of birth" },
            value: { text: values.dateOfBirth | date },
            actions: { items: [{ text: "Change", href: "/filter/age/edit" }]}
        },
        {
            key: { text: "Town of birth" },
            value: { text: values.townOfBirth },
            actions: { items: [{ text: "Change", href: "/apply/birth/edit" }]}
        },
        {
            key: { text: "Country of birth" },
            value: { text: values.countryOfBirth | countryName | default("United Kingdom")},
            actions: { items: [{ text: "Change", href: "/apply/birth/edit" }]}
        },
        {
            key: { text: "Signature" },
            value: {
                text: "You must sign your new passport when you receive it" if values.canSign
                    else ("You can’t sign your passport: <br/>" + values.noSignReason) | safe
            },
            actions: { items: [{ text: "Change", href: "/apply/sign/edit" }]}
        } if values.ageGroup !== "under12",
        {
            key: { text: "Your photo" },
            value: { html: "<img src=\"" + values.photo + "\" class=\"photo\" alt=\"Your photo\"/>" }
        }
    ] | filter }) }}

    <h2>Application details</h2>
    {{ govukSummaryList({ rows: [
        {
            key: { text: "Address" },
            value: { html: [
                values.addressLine1,
                values.addressLine2,
                values.addressTown,
                values.addressPostcode
            ] | filter | join("<br/>") },
            actions: { items: [{ text: "Change", href: "/apply/address-manual/edit" }]}
        },
        {
            key: { text: "Contact details" },
            value: { html: [ values.contactEmail, values.contactPhone ] | filter | join("<br/><br/>") },
            actions: { items: [{ text: "Change", href: "/apply/contact-details/edit" }]}
        },
        {
            key: { text: "Progress updates" },
            value: { html:
                ("We will send you progress updates via email and text message to " + values.mobilePhone) if values.contactPrefsSMS and values.contactPrefsEmail
                else (("We will send you progress updates via text message to " + values.mobilePhone) if values.contactPrefsSMS
                    else ("We will send you progress updates via email" if values.contactPrefsEmail
                    else ("You’ve chosen not to get progress updates"))
                )
            },
            actions: { items: [{ text: "Change", href: "/apply/contact-preferences/edit" }]}
        },
        {
            key: { text: "Braille" },
            value: { text: "You require a braille sticker" if values.braille else "You don’t require a braille sticker" },
            actions: { items: [{ text: "Change", href: "/apply/new-passport/edit" }]}
        }
    ] }) }}

    <h2>Appointment</h2>
        {{ govukSummaryList({ rows: [
        {
            key: { text: "Date and time" },
            value: { html: appointmentTime}
        },
        {
            key: { text: "Passport office" },
            value: { html: appointmentAddress}
        }
    ] }) }}

    {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}

{% endblock %}
