{% extends "layout-apply.html" %}

{% set hmpoTitle %}Get updates{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    <p>Find out what’s happening with your passport{% if not values.urgent %}, for example when it’s on its way{% endif %}.</p>
    <p>You can choose both. There is no charge.</p>

    {% call hmpoForm(ctx) %}

        {{ hmpoCheckboxes(ctx, {
            id: "contactPrefsEmail",
            label: "Email updates (optional)"
        }) }}

        {{ hmpoCheckboxes(ctx, {
            id: "contactPrefsSMS",
            label: "Text updates (optional)",
            conditional: {
                html: hmpoPhone(ctx, {
                    id: "mobilePhone",
                    label: {
                        text: "Mobile number",
                        classes: "govuk-label--m"
                    },
                    classes: "govuk-!-width-one-half"
                })
            }
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
