{% extends "layout-apply.html" %}

{% set hmpoTitle %}Cost{% endset %}

{% set documents %}
    {%- if values.applicationType == "first" %}
        {%- if values.oldBlue %}
            both
        {%- else %}
            documents
        {%- endif %}
    {%- elif values.lost %}
        {%- if values.documentsRequired == "none" %}
            none
        {%- else %}
            documents
        {%- endif %}
    {%- else %}
        {%- if values.nameChanged %}
            both
        {%- else %}
            passport
        {%- endif %}
    {%- endif %}
{% endset %}

{% set deliveryMethod = "secure delivery" if values.secureDelivery else "standard post" %}

{% if documents == "passport" %}
    {% set deliveryKey = "Old passport" %}
    {% set deliveryValue = "You need to post your old passport to us. We’ll return it to you by " + deliveryMethod %}
{% elif documents == "documents" %}
    {% set deliveryKey = "Documents" %}
    {% set deliveryValue = "We’ll return your documents by " + deliveryMethod %}
{% elif documents == "both" %}
    {% set deliveryKey = "Old passport and extra documents" %}
    {% set deliveryValue = "We’ll return your old passport and extra documents by " + deliveryMethod %}
{% else %}
    {% set deliveryKey = "Delivery" %}
    {% set deliveryValue = "We’ll send your new passport by secure delivery. The cost is included in the passport fee." %}
{% endif %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    {% if values.dps === true%}
        {{ govukSummaryList({ rows: [
            {
                key: { text: "Passport size" },
                value: { html:
                    (
                        "Frequent traveller passport"
                        if values.largePassport else
                        "Standard passport"
                    )
                },
                actions: { items: [ { text: "Change", href: "/dps/dps-new-passport/edit" }]}
            },
            {
                key: { text: "Total" },
                value: { html:
                    (values.passportCost | currency)
                }
            }
        ] }) }}
    {% else %}
        {{ govukSummaryList({ rows: [
            {
                key: { text: "New passport" },
                value: { html:
                    (
                        "Frequent traveller passport with secure delivery included"
                        if values.largePassport else
                        "Standard passport with secure delivery included"
                    ) +
                    "<br/>" +
                    (values.passportCost | currency)
                },
                actions: { items: [ { text: "Change", href: "/apply/new-passport/edit" }]}
            },
            {
                key: { text: deliveryKey },
                value: { html:
                    deliveryValue +
                    "<br/>" +
                    (values.deliveryCost | currency)
                },
                actions: { items: [ { text: "Change", href: "/apply/passport-delivery/edit" }]} if delivery != "none"
            },
            {
                key: { text: "Total" },
                value: { text: values.totalCost | currency }
            }
        ] | filter }) }}
    {% endif %}

    {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}

{% endblock %}
