{% extends "layout.html" %}

{% set hmpoTitle %}What you need to send{% endset %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    <p>Documents list.</p>

    {% call hmpoForm(ctx) %}
        {% if values.adultOrChild == "child"
            and values.lost
            and not values.otherPassports
            and not values.changeOfName
            and not values.parentsHaveEUSS %}
            {{ hmpoRadios(ctx, {
                id: "documentsToSend",
                legend: "I have documents to send",
                items: [
                    { value: true }, { value: false }
                ]
            }) }}
        {% endif %}

        {{ hmpoSubmit(ctx) }}
    {% endcall %}

    {{ hmpoPrintPage({ }) }}

{% endblock %}
