{% extends "layout-apply.html" %}

{% set hmpoTitle %}Grandparents’ details{% endset %}

{% block hmpoContent %}
    {% call hmpoFlashCard() %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1>{{ hmpoTitle }}</h1>

                {% call hmpoForm(ctx) %}

                    <p>Based on the information you provided, we need your grandparents’ details.</p>
                    <p>Their details will help confirm your parents’ nationality and if they can pass it down to you.</p>

                    {{ hmpoSubmit(ctx) }}

                {% endcall %}

            </div>
        </div>
    {% endcall %}
{% endblock %}
