{% extends "layout-apply.html" %}

{% set hmpoTitle %}New passport details{% endset %}

{% if values.adultOrChild == 'child' %}
    {% set titles = [
        { value: "Master", text: "Master" },
        { value: "Miss", text: "Miss" },
        { value: "Other", text: "Other" }
    ] %}
{% else %}
    {% set titles = [
        { value: "Mr", text: "Mr" },
        { value: "Mrs", text: "Mrs" },
        { value: "Miss", text: "Miss" },
        { value: "Ms", text: "Ms" },
        { value: "Other", text: "Other" }
    ] %}
{% endif %}

{% set otherConditional %}
    {% from "hmpo-text/macro.njk" import hmpoText %}

    {{ hmpoText(ctx, {
        id: "otherTitle",
        label: {
            text: "Other title",
            classes: "govuk-label--m"
        }
    }) }}

    {% if values.urgent %}
        <p>You can’t use this service if you want to add a new professional or honorary title to your passport - you need to <a href="https://www.gov.uk/get-a-passport-urgently/1-week-fast-track-service">apply with Fast Track</a>.</p>
    {% else %}
        <p>You’ll need to send proof of a new professional or honorary title if you want it added to your passport.</p>
    {% endif %}
{% endset %}

{% set changeOfNameTitle %}
    {% if values.naturalised %}
        Is this name on your naturalisation or registration certificate?
    {% elif values.applicationType == 'first' %}
        Is this name on your birth or adoption certificate?
    {% else %}
        Did you use this name on your old passport?
    {% endif %}
{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "title",
            inline: true,
            legend: {
                text: "Title",
                classes: "govuk-fieldset__legend--m"
            },
            items: titles,
            conditionals: {
                "Other": { id: "otherTitleReveal", html: otherConditional }
            }
        }) }}

        {{ hmpoText(ctx, {
            id: "firstName",
            label: {
                text: "First and middle names",
                classes: "govuk-label--m"
            }
        }) }}

        {{ hmpoText(ctx, {
            id: "lastName",
            label: {
                text: "Last name",
                classes: "govuk-label--m"
            }
        }) }}

        {% if not values.urgent %}
            {{ hmpoRadios(ctx, {
                id: "changeOfName",
                legend: {
                    text: changeOfNameTitle,
                    classes: "govuk-fieldset__legend--m"
                },
                items: [
                    { value: false, text: "Yes" },
                    { value: true, text: "No, my name has changed" }
                ]
            }) }}
        {% endif %}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
