{% extends "layout-apply.html" %}

{% set hmpoTitle %}Naturalisation or registration details{% endset %}
{% set guideText %}
    <p>This is usually a 7 digit number towards the bottom left of the certificate.</p>
    For example, 1091644
{% endset %}
{% block mainContent %}

    <style>
    .photo-guide-photos img {
        width: 80%;
    }
    </style>

    {% if values.adultOrChild == 'child' %}
        {% call hmpoSidebar({ attributes: { "aria-hidden": true }, classes: "hmpo-sidebar__small-image" }) %}
            <h2>Where to find your certificate number</h2>
            <ul class="photo-guide-photos" aria-hidden="true" style="margin-bottom: 0px;">
                <li>
                    <a rel="opener" href="/help/registration-certificate-example" target="_blank">
                        <img src="/public/images/nat-cert-example.png" alt="Example registration certificate" style="margin-bottom: 10px; border: 1px solid #b1b4b6;">
                    </a>
                </li>
            </ul>
            <div class="govuk-hint">
                Click on the image to view it (opens in a new window)
            </div>
        {% endcall %}
    {% else %}
        {% call hmpoSidebar({ attributes: { "aria-hidden": true }, classes: "hmpo-sidebar__small-image" }) %}
            <h2>Where to find your certificate number</h2>
            <a class="photo-guide-photos" rel="opener" href="/help/naturalisation-certificate-example" target="_blank">
                <img src="/public/images/nat-cert-example.png" alt="Example registration naturalisation" style="margin-bottom: 10px; border: 1px solid #b1b4b6;">
            </a>
            <a class="photo-guide-photos" rel="opener" href="/help/registration-certificate-example" target="_blank">
                <img src="/public/images/nat-cert-example.png" alt="Example registration certificate" style="margin-bottom: 10px; border: 1px solid #b1b4b6;">
            </a>
            <div class="govuk-hint">
                Click on the image to view it (opens in a new window)
            </div>
        {% endcall %}
    {% endif %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoText(ctx, {
            id: "naturalisationCertificateNumber",
            label: {
                text: "Certificate number",
                classes: "govuk-label--m"
            },
            hint:{
                html: guideText
            } 
        }) }}

        {{ hmpoDate(ctx, {
            id: "naturalisationIssueDate",
            legend: {
                text: "Date of issue",
                classes: "govuk-fieldset__legend--m"
            },
            hint: "For example, 25 08 2017"
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}
 
{% endblock %}
