{% extends "layout-apply.html" %}

{% set hmpoTitle %}New passport{% endset %}

{% set largePassportInfo %}
    {% if values.urgent %}
        Frequent traveller 50-page passport (£187)
    {% else %}
        Frequent traveller 50-page passport (£85.50)
    {% endif %}
{% endset %}

{% set standardPassportInfo %}
    {% if values.urgent %}
        Standard 34-page passport (£177)
    {% else %}
        Standard 34-page passport (£75.50)
    {% endif %}
{% endset %}

{% block mainContent %}

    <h1 id="header" >{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {# TODO: computed cost, and logic for computed cost or free #}
        {{ hmpoRadios(ctx, {
            id: "largePassport",
            legend: {
                text: "Passport size",
                classes: "govuk-label--m"
            },
            items: [
                {
                    value: false,
                    text: standardPassportInfo
                },
                {
                    value: true,
                    text: largePassportInfo
                }
            ]
        }) }}

        <p>If you’re blind or visually impaired, we can add a braille sticker that reads passport, your name and
            passport expiry date.</p>

        {{ hmpoCheckboxes(ctx, {
            id: "braille",
            label: "I need a braille sticker",
            classes: "govuk-checkboxes--small"
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
