{% extends "layout.html" %}

{% set hmpoTitle %}Application Submitted{% endset %}

{% block mainContent %}

    {% call hmpoInsetText({ classes: "hmpo-inset-success"}) %}
        {% if values.paid %}
            <h2>You’ve paid {{ values.paid | currency }}</h2>
        {% endif %}
        {% if not values.paid %}
            <h2>Your application</h2>
        {% endif %}
        <p>We’ve saved your application and sent confirmation to: {{ values.contactEmail }}.
            <a id="your-confirmation" href="{{baseUrl}}/pdf-confirmation" class="download">Download your confirmation</a></p>
    {% endcall %}

    <p>Application reference: <strong><span id="application-reference">[#referenceNumber]</span></strong></p>

        <h1>What you need to do</h1>
        <p id="next-steps">Before we can work on your application, you need to:</p>

        {% if isExtraDocumentsRequired %}
            <h2 id="send-documents" class="compact">Send us your documents</h2>
        {% elif isOldPassportRequired %}
            <h2 id="send-documents" class="compact">Send us your old passport</h2>
        {% endif %}

        {% if values["documents-url"] %}
            {% if isExtraDocumentsRequired %}
                <p><a id="documents-link" target="_blank" href="{{ctx("documents-url")}}">Check what you need to send</a></p>
            {% endif %}
            {% if not isExtraDocumentsRequired %}
                <p>Check if you need to send any <a id="documents-link" target="_blank" href="{{ctx("documents-url")}}">additional documents</a>.</p>
            {% endif %}
        {% endif %}

        {% if isExtraDocumentsRequired %}
            <p>Use a strong envelope that is the right size for your documents. Check the weight and pay the correct postage – consider using signed for delivery.</p>
        {% elif isOldPassportRequired %}
            <p>Use a strong envelope that is the right size for your passport. Check the weight and pay the correct postage – consider using signed for delivery.</p>
        {% endif %}

        <p>[processingCentre]</p>

        <p>
            {% if featureFlags.multipleDocumentsGuidance %}
                {{ hmpoDetails({
                    summaryText: "If you’re applying as part of a family or couple",
                    id: "family-guidance-id",
                    html: "Find out how to send your documents if you’re <a target=\"_blank\" href=\"{{ urls[\"multiple-documents\"] }}\">applying as part of a family or couple.</a>"
                }) }}
            {% endif %}
        </p>

        <h2 id="track-your-application">Track your application</h2>
        <p class="word-wrap">You’ll need your application reference: [#referenceNumber]<br/>
        <a id="track-link" href="{{urls["status-check"]}}">{{ ctx("tracking-url") }}</a></p>

        {{ hmpoSubmit(ctx, {
            id: "feedback-button",
            text: translate("buttons.giveFeedback"),
            href: ctx("feedback-url")
        }) }}

{% endblock %}
