{% extends "layout.html" %}

{% set hmpoTitle %}Application Submitted{% endset %}

{% block mainContent %}

    {% call hmpoInsetText({ classes: "hmpo-inset-success"}) %}
        {% if values.paid %}
            <h2>You’ve paid {{ values.paid | currency }}</h2>
        {% endif %}
        {% if not values.paid %}
            <h2>Your application</h2>
        {% endif %}
        <p>We’ve saved your application and sent confirmation to: {{ values.contactEmail }}.
            <a id="your-confirmation" href="{{baseUrl}}/pdf-confirmation" class="download">Download your confirmation</a></p>
    {% endcall %}

    <p>Application reference: <strong><span id="application-reference">[#referenceNumber]</span></strong></p>
    <div id="csig-required-details">
        <h1>What you need to do</h1>

        <p id="next-steps-csig-no-docs">Before we can work on your application, you need to ask someone to confirm your identity.</p>
        <p>Sign in to check who can do this and provide their details. You’ll need your application reference: [#referenceNumber]</p>

        {{ hmpoSubmit(ctx, {
            id: "track-button",
            text: translate("buttons.signIn"),
            href: urls["status-check"]
        }) }}

    </div>

{% endblock %}
