{% extends "layout-apply.html" %}

{% set hmpoTitle %}Application Submitted{% endset %}

{% block mainContent %}

    {% call hmpoInsetText({ classes: "hmpo-inset-success"}) %}
        <h2>You’ve paid {{ values.totalCost | currency }}</h2>
        <p>We’ve saved your application and sent confirmation to: {{ values.contactEmail }}.
            <a href="/apply/pdf-confirmation" class="download">Download your confirmation</a></p>
    {% endcall %}

    <p>Application reference: <strong>PEX 123 456 789X</strong></p>

    {% if values.urgentPassport %}
        {{ govukWarningText({
            text: "You can't use your old passport on the day of your appointment",
            iconFallbackText: "Warning"
        }) }}
    <h2 class="compact">Your collection appointment</h2>
    <p>Wednesday, 1 April 2020<br>
    at 8:45pm</p>
    <p>Glasgow HM Passport Office<br>
    3 Northgate </br>
    96 Milton Street </br>
    Cowcaddens </br>
    Glasgow </br>
    G4 0BT </br>
    <a href="https://www.google.co.uk/maps/?q=Glasgow%20HM%20Passport%20Office,%20G4%200BT" target="_blank">View map</a></p>
    <p>It usually takes 30 minutes to collect your new passport. Don't arrive any earlier than 10 minutes before your collection appointment.</p>

    <h2 class="compact">What you need to bring</h2>
    <p>You must bring your old passport with you.</p>
    <p class="govuk-body">If someone is collecting your new passport for you, they need to bring:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>your old passport</li>
        <li>a signed and dated letter from you, confirming their full name and giving then permission to collect your passport</li>
        <li>proof of their identity, for example a driving licence or passport</li>
    </ul>

    <h2 class="compact">Track your application</h2>
    <p>Use your reference <strong>PEX 123 456 789X</strong> to <a href="/track">track your application.</a> We’ll send updates to {{ values.contactEmail }} and {{ values.contactPhone }}. </p>
    <p>We'll check your application. If there's a problem, we'll call you on the number you provided.</p>
    <p>If you have any questions contact <a href="https://www.passport.service.gov.uk/help">HM PassportOffice</a>.</p>

    {{ hmpoSubmit(ctx, {
        text: "Give feedback",
        href: "/help/feedback"
    }) }}

    {% elif values.urgent %}

        {{ govukWarningText({
            text: "You can't use your old passport on the day of your appointment",
            iconFallbackText: "Warning"
        }) }}
        <h2 class="compact">Your collection appointment</h2>
        <p>Wednesday, 3 June 2020<br>
        at 10:00pm</p>
        <p>London HM Passport Office<br>
        Globe House<br>
        89 Eccleston Square<br>
        London<br>
        SW1V 1PN<br>
        <a href="https://www.google.co.uk/maps/?q=London%20HM%20Passport%20Office,%20SW1V%201PN" target="_blank">View map</a></p>
        <p>Follow signs to the collections desk on Bridge Place.</p>
        <p>It usually takes 30 minutes to collect your new passport. Don’t arrive any earlier than 10 minutes before your collection appointment.</p>

        <h2 class="compact">What you need to bring</h2>
        <p>You must bring your old passport with you.</p>
        <p class="govuk-body">If someone is collecting your new passport for you, they need to bring:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your old passport</li>
            <li>a signed and dated letter from you, confirming their full name and giving then permission to collect your passport</li>
            <li>proof of their identity, for example a driving licence or passport</li>
        </ul>

        <h2 class="compact">Track your application</h2>
        <p>Use your reference <strong>PEX 123 456 789X</strong> to <a href="/track">track your application.</a> We’ll send updates to {{ values.contactEmail }} and {{ values.contactPhone }}. </p>
        <p>We'll check your application. If there's a problem, we'll call you on the number you provided.</p>
        <p>If you have any questions contact <a href="https://www.passport.service.gov.uk/help">HM PassportOffice</a>.</p>

        {{ hmpoSubmit(ctx, {
            text: "Give feedback",
            href: "/help/feedback"
        }) }}


    {% elif values.csigRequired %}

        <h1>What you need to do</h1>

        {% if values.documentsRequired == "none" %}

            <p>Before we can work on your application, you need to ask someone to confirm your identity.</p>
            <p>Sign in to check who can do this and provide their details. You’ll need your application reference: PEX 123 456 789X</p>

        {% else %}

            <p>Before we can work on your application, you need to:</p>

            <h2>1. Ask someone to confirm your identity</h2>
            <p>Sign in to check who can do this and provide their details. You’ll need your application reference: PEX 123 456 789X</p>

            <h2>2. Get your documents ready</h2>
            <p>We can only receive your documents after your identity has been confirmed. This includes anyone you’re <a target="_blank" href="/help/multiple-documents">applying with as part of a family or couple</a></p>
            <p>We’ll let you know when and where to send them.</p>

        {% endif %}

        {{ hmpoSubmit(ctx, {
            id: "track-button",
            text: "Sign in",
            href: "/track"
        }) }}

    {% else %}

        <h1>What you need to do</h1>
        <p>Before we can work on your application, you need to:</p>

        {% if values.documentsRequired == "documents" %}
            <h2 class="compact">Send us your documents</h2>
        {% elif values.documentsRequired == "passport" %}
            <h2 class="compact">Send us your old passport</h2>
        {% endif %}

        {% if value.documentsRequired == "documents" %}
            <p><a target="_blank" href="/help/documents">Check what you need to send</a></p>
        {% else %}
            <p>Check if you need to send any <a target="_blank" href="/help/documents">additional documents</a>.</p>
        {% endif %}

        <p>
            {% if values.documentsRequired == "documents" %}
                Use a strong envelope that is the right size for your documents.
            {% elif values.documentsRequired == "passport" %}
                Use a strong envelope that is the right size for your passport.
            {% endif %}
            Check the weight and pay the correct postage – consider using signed for delivery.
        </p>

        <p>
            HM Passport Office<br/>
            INBOUND<br/>
            Durham HM Passport Office<br/>
            Freemans Reach<br/>
            Riverside Place<br/>
            Durham<br/>
            DH1 1SL
        </p>

        {% call hmpoDetails({ summaryText: "If you’re applying as part of a family or couple" }) %}
            Find out how to send your documents if you’re <a target="_blank" href="/help/multiple-docs">applying as part of a family or couple.</a>
        {% endcall %}

        <h2>Track your application</h2>
        <p>You’ll need your application reference: PEX 123 456 789X<br/>
        <a href="/track">www.passport.service.gov.uk/track</a></p>

        {{ hmpoSubmit(ctx, {
            text: "Give feedback",
            href: "/help/feedback"
        }) }}

    {% endif %}

{% endblock %}
