{% extends "layout.html" %}

{% set hmpoTitle %}Do you need your passport urgently?{% endset %}

{% set infoText %}
    <p> It should take 3 weeks to get your passport with the standard service.</p>
    <p>If you need your passport urgently, your new passport will be delivered to your home within a week of your appointment or you can book an appointment to collect it from a <a href="https://www.passport.service.gov.uk/help/passport-offices/" target="_blank">passport office</a>. The earliest you can get an appointment is 2 days away.</p>
{% endset %}


{% block mainContent %}
    {% call hmpoForm(ctx) %}
        {{ hmpoRadios(ctx, {
            id: "urgentPassport",
            legend: {
                text: hmpoTitle
            },
            isPageHeading: true,
            hint:{
                html: infoText
                },
            items: [
                {
                    value: false,
                    text: "No (£75.50)"
                },
                {
                    value: true,
                    text: "Yes (from £122)"
                }
            ]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
