{% extends "layout-apply.html" %}

{% set hmpoTitle %}Choose a collection time{% endset %}

{% block hmpoContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1>{{ hmpoTitle }}</h1>
                <h2>Glasgow HM Passport Office</h2>
                <p>3 Northgate, 96 Milton Street, Cowcaddens, Glasgow, G4 0BT  <a href="https://www.google.co.uk/maps/?q=Glasgow%20HM%20Passport%20Office,%20G4%200BT" target="_blank">View map</a></p>
                <p>It usually takes 30 minutes to collect your new passport.</p>

            <div style="padding-bottom:2em">
                <div class="later-time direction-arrow ">
                    <a class="govuk-body-m" href=" ">Later</a>
                </div>
            </div>

            <table class="govuk-table booking-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">

                        <th>
                            Wednesday<br>
                            1 April
                        </th>

                        <th>
                            Thursday<br>
                            2 April
                        </th>

                        <th>
                            Friday<br>
                            3 April
                        </th>

                    </tr>
                </thead>

                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a href="/apply/urgent-passport-check-appointment">8:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <span class="unavailable">8:45am</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">8:45am<br>
                                <span class="available"> Available</span></a>
                        </td>
                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">9:15am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">9:15am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">9:15am<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">9:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">9:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">9:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">10:15am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">10:15am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">10:15am<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">10:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">10:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">10:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">11:15am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">11:15am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">11:15am<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">11:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">11:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">11:45am<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">12:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">12:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">12:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">12:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">12:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">12:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>
                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">1:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">1:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">1:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">1:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">1:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">1:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">2:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">2:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">2:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>
                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">2:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">2:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">2:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">3:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <span class="unavailable">3:15pm</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">3:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">3:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <span class="unavailable">3:45pm</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">3:45pm<br>
                                <span class="available"> Available</span></a>
                        </td>
                    </tr>

                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">4:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>

                        <td class="govuk-table__cell">
                            <span class="unavailable">4:15pm</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">4:15pm<br>
                                <span class="available"> Available</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}