{% extends "layout-apply.html" %}

{% set hmpoTitle %}Choose a date and place{% endset %}

{% block hmpoContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1>{{ hmpoTitle }}</h1>
            <p>You'll need to collect your new passport from a <a href="https://www.passport.service.gov.uk/help/passport-offices/" target="_blank">passport office</a>. You can ask someone else to go for you if you’re not available.</p>

            <div style="padding-bottom:2em">
                <div class="later-time direction-arrow ">
                    <a class="govuk-body-m" href=" ">Later</a>
                </div>
            </div>

            <table class="govuk-table booking-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">

                        <th>
                            Wednesday<br>
                            1 April
                        </th>

                        <th>
                            Thursday<br>
                            2 April
                        </th>

                        <th>
                            Friday<br>
                            3 April
                        </th>

                        <th>
                            Saturday<br>
                            4 April
                        </th>

                        <th>
                            Monday<br>
                            5 April
                        </th>

                        <th>
                            Tuesday<br>
                            6 April
                        </th>

                    </tr>
                </thead>

                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                                <span class="unavailable">London</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="#">
                                London
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                London
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                London
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                London
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                                <span class="unavailable">London</span>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">
                                Peterborough
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Peterborough
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Peterborough
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Peterborough
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                                <span class="unavailable">Peterborough</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Peterborough
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                    </tr>
                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <span class="unavailable">Newport</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Newport
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Newport
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <span class="unavailable">Newport</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Newport
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Newport
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">
                                Liverpool
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <span class="unavailable">Liverpool</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Liverpool
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Liverpool
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Liverpool
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Liverpool
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <span class="unavailable">Durham</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Durham
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Durham
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Durham
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Durham
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Durham
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="/apply/urgent-passport-book-time">
                                Glasgow
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="#">
                                Glasgow
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <span class="unavailable">Glasgow</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Glasgow
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Glasgow
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Glasgow
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">
                            <a href="">
                                Belfast
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Belfast
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Belfast
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Belfast
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>

                        <td class="govuk-table__cell">
                            <span class="unavailable">Belfast</span>
                        </td>

                        <td class="govuk-table__cell">
                            <a href="">
                                Belfast
                                <br>
                                <span class="available">Available</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}