{% extends "layout-tracking.html" %}

{% set hmpoTitle %}Ask someone to confirm your identity online{% endset %}

{% block hmpoContent %}
    {% call hmpoFlashCard(ctx) %}
        <h1>{{ hmpoTitle }}</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2>Who can do this</h2>
                <p>You need to ask someone who:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>is 18 or older</li>
                    <li>and lives in the UK</li>
                    <li>and has a current UK passport</li>
                    <li>and works in or is retired from a <a href="/help/confirming-identity" target="_blank">recognised profession</a></li>
                </ul>
                <p>If they have an Irish passport you will need to ask them to <a href="/track/use-a-form">use a paper form</a> to confirm your identity.</p>
                <p>They must have known you personally for at least 2 years, for example as a friend, neighbour or colleague.</p>
                {% call hmpoDetails({ summaryText: "If they can’t do this online" }) %}
                    <p>You need to ask them to <a href="/track/use-a-form">use a paper form</a>. The person needs a current UK or Irish passport.</p>
                {% endcall %}

                <h2>Who can’t do this</h2>
                <p>You can’t ask someone to confirm your identity if you’re:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>related to them by birth or marriage</li>
                    <li>in a relationship with or live at the same address as them</li>
                </ul>

                <p>They can’t work at HM Passport Office or some areas of UK Visas and Immigration.</p>
            </div>
        </div>

        {% call hmpoForm(ctx) %}
            {{ hmpoSubmit(ctx) }}
        {% endcall %}
    {% endcall %}
{% endblock %}

