{% extends "layout.html" %}

{% block cookieBanner %}
{% endblock %}

{% set hmpoTitle %}Archive{% endset %}

{% block govukHeader %}
    {{ govukHeader({
        serviceName: govukServiceName,
        navigation: [
            {
            href: "./",
            text: "Latest"
            },
            {
            href: "notifications",
            text: "Notifications"
            },
            {
            href: "archive",
            text: hmpoTitle,
            active: true
            }
        ],
        serviceUrl: "/"
    }) }}
{% endblock %}

{% block phaseBanner %}
{% endblock %}

{% block mainContent %}
    <span class="govuk-caption-xl">{{ govukServiceName }}</span>
    <h1>{{ hmpoTitle }}</h1>

    <h2>Cookies Consent</h2>
    <p>Lab days (remote labs)</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-200420-cookie-consent.herokuapp.com">20 April 2020</a></li>
        <li><a href="https://hmpo-200416-cookie-consent.herokuapp.com">16 April 2020</a></li>
        <li><a href="https://hmpo-200331-cookie-consent.herokuapp.com">31 March 2020</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Digital Premium Service Upsell</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-190918-photo-and-dps.herokuapp.com">18 September 2019 (including new photo journey)</a></li>
        <li><a href="https://hmpo-190820-dps-upsell.herokuapp.com">20 August 2019</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>First Time Child with EU Settled Status</h2>
    <p>Pop-up research days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-190627-euss.herokuapp.com">27 June 2019</a></li>
    </ul>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-190604-euss.herokuapp.com">04 June 2019</a></li>
        <li><a href="https://hmpo-190523-euss.herokuapp.com">23 May 2019</a></li>
        <li><a href="https://hmpo-190507-euss.herokuapp.com">07 May 2019</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Child Change of Name</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-190319-child-con.herokuapp.com">19 March 2019</a></li>
        <li><a href="https://hmpo-190307-child-con.herokuapp.com">07 March 2019</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Multiple applications</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-190218-multiple.herokuapp.com">18 February 2019</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Lost or Stolen</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-190221-lost-stolen-docs.herokuapp.com">21 February 2019</a></li>
        <li><a href="https://hmpo-190212-lost-stolen-docs.herokuapp.com">12 February 2019</a></li>
        <li><a href="https://hmpo-190205-lost-stolen.herokuapp.com">05 February 2019</a></li>
        <li><a href="https://hmpo-190122-lost-stolen.herokuapp.com">22 January 2019</a></li>
        <li><a href="https://hmpo-190108-lost-stolen.herokuapp.com">08 January 2019</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Photo journey</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-191008-photo-journey.herokuapp.com">08 October 2019</a></li>
        <li><a href="https://hmpo-190819-photo-journey.herokuapp.com">19 August 2019</a></li>
        <li><a href="https://hmpo-190806-photo-journey.herokuapp.com">06 August 2019</a></li>
        <li><a href="https://hmpo-190716-photo-journey.herokuapp.com">16 July 2019</a></li>
        <li><a href="https://hmpo-190703-photo-journey.herokuapp.com">03 July 2019</a></li>
        <li><a href="https://hmpo-190528-photo-checker.herokuapp.com">28 May 2019 (Independent photo checker)</a></li>
        <li><a href="https://hmpo-190124-photo-journey.herokuapp.com">24 January 2019</a></li>
        <li><a href="https://hmpo-190109-photo-journey.herokuapp.com">09 January 2019 (Pre-task)</a></li>
        <li><a href="https://hmpo-181210-photo-journey.herokuapp.com">10 December 2018</a></li>
        <li><a href="https://hmpo-181129-photo-journey.herokuapp.com">29 November 2018</a></li>
        <li><a href="https://hmpo-181113-photo-journey.herokuapp.com">13 November 2018 (Pre-task)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>First Time Child / 0–11 Renewals</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-181219-child.herokuapp.com">19 December 2018</a></li>
        <li><a href="https://hmpo-181120-ftc-0-11s.herokuapp.com">20 November 2018</a></li>
        <li><a href="https://hmpo-181030.herokuapp.com">30 October 2018</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Document Requirements Service</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-181016-12-15s-third-party.herokuapp.com">16 October 2018</a></li>
        <li><a href="https://hmpo-180920-12-15s-third-party.herokuapp.com">20 September 2018</a></li>
        <li><a href="https://hmpo-180911-12-15s-third-party.herokuapp.com">11 September 2018</a></li>
        <li><a href="https://hmpo-180828-drs.herokuapp.com">28 August 2018</a></li>
        <li><a href="https://hmpo-180703-drs.herokuapp.com">03 July 2018</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>First Time Adults</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-180822-fta-csig.herokuapp.com">22 August 2018</a></li>
        <li><a href="https://hmpo-180731-ftas.herokuapp.com">31 July 2018</a></li>
        <li><a href="https://hmpo-180619-ftas.herokuapp.com">19 June 2018</a></li>
        <li><a href="https://hmpo-180522-ftas.herokuapp.com">22 May 2018</a></li>
        <li><a href="https://hmpo-180502-ftas.herokuapp.com">02 May 2018</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Third parties and FTAs</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-180705-third-party-fta.herokuapp.com">05 July 2018</a></li>
        <li><a href="https://hmpo-180627-third-party-fta.herokuapp.com">27 June 2018</a></li>
        <li><a href="https://hmpo-180614-third-party-fta.herokuapp.com">14 June 2018</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>12–15s and third parties</h2>
    <p>Lab days</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-181016-12-15s-third-party.herokuapp.com">16 October 2018</a></li>
        <li><a href="https://hmpo-180920-12-15s-third-party.herokuapp.com">20 September 2018</a></li>
        <li><a href="https://hmpo-180911-12-15s-third-party.herokuapp.com">11 September 2018</a></li>
        <li><a href="https://hmpo-180515-12-15s.herokuapp.com">15 May 2018</a></li>
        <li><a href="https://hmpo-180501-12-15s.herokuapp.com">01 May 2018</a></li>
        <li><a href="https://hmpo-180417-12-15s.herokuapp.com">17 April 2018</a></li>
        <li><a href="https://hmpo-180406-12-15s.herokuapp.com">06 April 2018</a></li>
        <li><a href="https://hmpo-180329-12-15s.herokuapp.com">29 March 2018</a></li>
        <li><a href="https://hmpo-180119-12-15s.herokuapp.com">19 January 2018</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Countersignatures</h2>
    <p>Lab days</p>
    <h3>Exceptions</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-181121-csig-exceptions.herokuapp.com">21 November 2018</a></li>
        <li><a href="https://hmpo-181029-csig-exceptions.herokuapp.com">29 October 2018</a></li>
    </ul>
    <h3>Child</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-181009-child-csig.herokuapp.com">09 October 2018</a></li>
        <li><a href="https://hmpo-181002-child-csig.herokuapp.com">02 October 2018</a></li>
        <li><a href="https://hmpo-180925-child-csig.herokuapp.com">25 September 2018</a></li>
        <li><a href="https://hmpo-180724-child-csig.herokuapp.com">24 July 2018</a></li>
    </ul>
    <h3>Adult</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://hmpo-180320-csig.herokuapp.com">20 March 2018</a></li>
        <li><a href="https://hmpo-180306-csig.herokuapp.com">06 March 2018</a></li>
        <li><a href="https://hmpo-180227-csig.herokuapp.com">27 February 2018</a></li>
        <li><a href="https://hmpo-180221-csig.herokuapp.com">21 February 2018</a></li>
        <li><a href="https://hmpo-180213-csig.herokuapp.com">13 February 2018</a></li>
        <li><a href="https://hmpo-180206-csig.herokuapp.com">06 February 2018</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Older archives</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://passports-prototype.herokuapp.com/archive">Archives from before 2018</a></li>
    </ul>

{% endblock %}
