{% extends "layout.html" %}

{% set serviceName %}HMPO Prototypes{% endset %}
{% set pageTitle, hmpoTitle %}Archive{% endset %}

{% block govukHeader %}
    {{ govukHeader({
        serviceName: serviceName,
        navigation: [
            {
            href: "./",
            text: "Latest"
            },
            {
            href: "notifications",
            text: "Notifications"
            },
            {
            href: "archive",
            text: pageTitle,
            active: true
            }
        ]
    }) }}
{% endblock %}

{% block phaseBanner %}
{% endblock %}

{% block mainContent %}
    <span class="govuk-caption-xl">{{ serviceName }}</span>
    <h1>{{ pageTitle }}</h1>
    <p>Archive placeholder page.</p>

{% endblock %}
