{% extends "layout.html" %}

{% set hmpoTitle %}Apply online for a UK passport{% endset %}

{% block pageTitle %}
    {{ hmpoTitle | safe }} – GOV.UK
{% endblock %}

{% block phaseBanner %}
{% endblock %}

{% block govukHeader %}
    {{ govukHeader({
        assetsPath: assetPath + '/images',
        homepageUrl: govukHomePage or "https://gov.uk",
        serviceName: "",
        navigation: govukNavigation,
        serviceUrl: govukServiceUrl or "/",
        containerClasses: "govuk-width-container"
    }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "#"
            },
            {
                text: "Passports, travel and living abroad",
                href: "#"
            },
            {
                text: "Passports"
            }
        ]
    }) }}
{% endblock %}

{# TODO: Update h1 and app-related-items styling to new GOV.UK styling #}
{% block content %}
    <div class="govuk-grid-row">
        <main id="content" role="main" class="">
            <header class="page-header govuk-grid-column-two-thirds">
                <div class="">
                    <h1 class="govuk-heading-xl">{{ hmpoTitle }}</h1>
                </div>
            </header>

            <div class="govuk-grid-column-two-thirds-from-desktop">


                <p>You can apply for, renew, replace or update your passport and pay for it online.</p>

                {% call hmpoInsetText() %}
                    <p>This service is also available <a href="https://www.gov.uk/ymgeisio-adnewyddu-pasbort">in Welsh
                            (Cymraeg)</a>.</p>
                {% endcall %}

                <h2>Passport applications and coronavirus (COVID-19)</h2>
                <p>It is taking longer than usual to process applications because of coronavirus.</p>
                <p>Do not apply unless you need a passport urgently for compassionate reasons, for example if a family
                    member has died, or for government business.</p>
                <p><a href="https://www.gov.uk/passport-advice-line">Phone the Passport Adviceline</a> to find out what to
                    do.</p>

                {% call hmpoInsetText() %}
                    <p>If your passport is burgundy or has ‘European Union’ on the cover, you can continue to use it until
                        it expires.</p>
                {% endcall %}

                {{ govukButton({
                    text: "Start now",
                    href: "/filter",
                    isStartButton: true
                }) }}

                <br/>

                <section class="more">
                    <div id="before-you-start">
                        <h2 class="govuk-heading-m">Before you start</h2>

                        <div class="gem-c-govspeak govuk-govspeak ">
                            <div role="note" aria-label="Information" class="application-notice info-notice">

                            </div>


                            {% call hmpoInsetText() %}
                                <p>The rules for passports, driving, EHIC cards, pet travel and more may change from 1 January 2021. <a
                                        href="https://www.gov.uk/visit-europe-brexit">Act now so you can travel as planned</a>.</p>
                            {% endcall %}

                            <p>You’ll need a debit or credit card to use this service.</p>
                            <p><a href="https://www.gov.uk/passport-fees">It’s £9.50 cheaper</a> to apply for a passport online than by
                                post.</p>
                            <p>It should take around 6 weeks to get your first UK adult passport, but it can take longer.</p>
                            <p>All other application types (for example, renewing a passport or getting a child passport) should take 3
                                weeks. It can take longer if more information is needed or your application hasn’t been filled out
                                correctly.</p>
                            <p>You should use a different service if you <a href="/urgent/urgent-start">need your
                                passport urgently</a>.</p>

                            {% call hmpoInsetText() %}
                                <p>Do not book travel until you have a valid passport - doing so is at your own risk.</p>
                            {% endcall %}

                            <h2>Other ways to apply</h2>
                            <p>You can pick up passport application forms from your <a rel="external"
                                    href="http://www.postoffice.co.uk/branch-finder">local Post Office</a> and apply by
                                post, or use the <a
                                    href="https://www.gov.uk/how-the-post-office-check-and-send-service-works">Post Office
                                    Check and Send service</a>.
                            </p>

                        </div>
                    </div>
                </section>

            </div>
        </main>

        <div class="govuk-grid-column-one-third-from-desktop app-related-items">
            <h3 id="parent-subsection" style="margin-bottom: 10px;">Related content</h3>
            <nav role="navigation" aria-labelledby="parent-subsection">
                <ul>
                    <li>
                        <a href="https://www.gov.uk/passport-fees">Passport fees</a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/photos-for-passports">Get a passport photo</a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/changing-passport-information">Change your name or personal details on your passport</a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/apply-first-adult-passport">Getting your first adult passport</a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/get-a-child-passport">Get a passport for your child</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="govuk-grid-column-two-thirds-from-desktop app-related-items">
            <nav role="navigation">
                <h3 class="navigation__sub-heading">
                    Explore the topic
                </h3>
                <ul>
                    <li class="navigation__link"><a class="navigation__section-link" href="https://www.gov.uk/browse/abroad/passports">Passports</a></li>
                </ul>
            </nav>
        </div>
    </div>
  </div>
</div>

{% endblock %}
