{% extends "layout-apply.html" %}

{% set hmpoTitle %}Do you have a naturalisation or registration certificate?{% endset %}

{% block mainContent %}

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "naturalised",
            legend: {
                text: hmpoTitle
            },
            hint: "You’ll only have one of these certificates if you applied for British nationality through the Home Office. This isn’t your birth certificate.",
            isPageHeading: true
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}


{% endblock %}
