{% extends "layout-tracking-status.html" %}

{% block trackingHeader %}
    <h1>Application approved</h1>
{% endblock %}

{% block trackingBody %}
    {% if values.isUrgent %}
        <h2>What happends next</h2>
        <p> We'll see you at your collection appointment. Remember to bring your old passport wih you.</p>
        <p>It usually takes 30 minutes to collect your new passport. Don't arrive any earlier than 10 minutes before your collection appointment.</p>

        <h2>Your collection appointment</h2>
        <p><b>Wednesday 1 April 2021</b>
        <br>
        at <b>8:45pm</b></p>
        <p>Glasgow HM Passport Office<br>
        3 Northgate<br>
        96 Milton Street<br>
        Cowcaddens<br>
        Glasgow<br>
        G4 0BT<br>
        <a href="https://www.google.co.uk/maps/?q=Glasgow%20HM%20Passport%20Office,%20G4%200BT" target="_blank">View map</a></p>
        <br>
        <p> if you can't go to your collection appointment, <a href="" target="_blank">contact us</a>. Your new appointment details will be send to you by email.

        <h2>What you need to bring</h2>
        <p>You must bring your old passport with you.</p>
        <p>If someone is collecting your new passport for you, they need to bring:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your old passport</li>
            <li>a signed and dated letter from you, confirming their full name and giving them permission to collect your passport</li>
            <li>proof of their identity, for example a driving licence or passport</li>
        </ul>

        {{ govukWarningText({
            text: "Your old passport will be cancelled on the day of your collection appointment. You won't be able to use it.",
            iconFallbackText: "Warning"
        }) }}
    {% else %}
        <h2>What happens next</h2>

        <p>
            Your new passport is being printed.
            We’ll update this page when it’s on its way
        </p>

        {% if values.documentsRequired == "documents" %}
            <p>
                We’ll send back your documents separately.
                They won’t be in the same envelope as your new passport.
            </p>
        {% elif values.documentsRequired == "passport" %}
            <p>
                We’ll send back your old passport separately.
                It won’t be in the same envelope as your new passport.
            </p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block trackingHistory %}

    {{ trackingHistory([
      "Application approved",
      "Application being processed",
      "Documents received" if values.documentsRequired != "none",
      "Application received" if values.documentsRequired != "none",
      "Identity details received" if values.csigRequired,
      "Email sent to person confirming your identity" if values.csigRequired,
      "Ask someone to confirm your identity" if values.csigRequired,
      "Application submitted"
    ]) }}

{% endblock %}


{% set nextStatuses = [
    "PASSPORT_DISPATCHED" if values.isUrgent == false
] | filter %}

