{% extends "layout-tracking.html" %}

{% block trackingHeader %}
    <h1>
        {% if values.documentsRequired == "passport" %}
            We’ve received your old passport
        {% else %}
            We’ve received your documents
        {% endif %}</h1>
    </h1>
{% endblock %}

{% block trackingBody %}
    <h2>What happens next</h2>

    <p>
        {% if values.documentsRequired == "documents" %}
            We’ll check your application and the documents we asked for.
        {% if values.documentsRequired == "passport" %}
            We’ll check your application and your old passport.
        {% else %}
            We’ll check your application.
        {% endif %}

        If we need more information, we’ll contact you.
    </p>

    <p>When we’ve finished checking your application, we’ll update this page.</p>

    {{ trackingHistory([
      "Documents received",
      "Application received",
      "Application submitted"
    ]) }}

{% endblock %}

{% set nextStatuses = [
    "PROCESSING"
] %}


