{% extends "layout-tracking-status.html" %}

{% block trackingHeader %}
    <h1>
        {% if values.documentsRequired == "passport" %}
            We’ve received your old passport
        {% elif values.documentsRequired == "documents" %}
            We’ve received your documents
        {% else %}
            We’ve received the form confirming your identity
        {% endif %}</h1>
    </h1>
{% endblock %}

{% block trackingBody %}
    <h2>What happens next</h2>

    <p>
        {% if values.documentsRequired == "documents" %}
            We’ll check your application and the documents we asked for.
        {% elif values.documentsRequired == "passport" %}
            We’ll check your application and your old passport.
        {% else %}
            We’ll check your application and the form. We’ll contact you if we need more information.
        {% endif %}

        If we need more information, we’ll contact you.
    </p>

    <p>When we’ve finished checking your application, we’ll update this page.</p>
{% endblock %}

{% block trackingHistory %}

    {{ trackingHistory([
      "Documents received" if values.documentsRequired != "none",
      "Application received" if values.documentsRequired != "none",
      "Identity details received" if values.csigRequired,
      "Email sent to person confirming your identity" if values.csigRequired,
      "Ask someone to confirm your identity" if values.csigRequired,
      "Application submitted"
    ]) }}

{% endblock %}

{% set nextStatuses = [
    "PROCESSING"
] %}


