{% extends "layout-tracking-status.html" %}

{% block trackingHeader %}
    {% if values.documentsRequired == "passport" %}
        <h1>Send your old passport</h1>
    {% else %}
        <h1>Send your documents</h1>
    {% endif %}
{% endblock %}

{% block trackingBody %}
    <h2>What you need to do</h2>

    {% if values.documentsRequired == "passport" %}
        <p>
            You can now send your old passport.
            Use a strong envelope that is the right size for your passport.
            Check the weight and pay the correct postage – consider using signed for delivery.
        </p>
    {% else %}
        <p>
            You can now send your documents.
            Use a strong envelope that is the right size for your documents.
            Check the weight and pay the correct postage – consider using signed for delivery.
        </p>
    {% endif %}

    {% if values.documentsRequired == "passport" %}
        <p>Send your old passport to:</p>
    {% else %}
        <p>Send your documents to:</p>
    {% endif %}

    <p>
        HM Passport Office<br/>
        INBOUND<br/>
        Durham HM Passport Office<br/>
        Freemans Reach<br/>
        Riverside Place<br/>
        Durham<br/>
        DH1 1SL
    </p>

    <p>Find out how to send your documents if you’re <a target="_blank" href="/help/multiple-docs">applying as part of a family or couple.</a></p>

    {% call hmpoDetails({ summaryHtml: "Already sent" }) %}
        <p>
            Check again in 3 days.
            If we still haven’t received your {% if values.documentsRequired == "passport" %}old passport{% else %}documents{% endif %}, <a href="/help" target="_blank">contact HM Passport Office.</a>
        </p>
    {% endcall %}
{% endblock %}

{% block trackingHistory %}

    {{ trackingHistory([
      "Application received",
      "Identity details received" if values.csigRequired,
      "Email sent to person confirming your identity" if values.csigRequired,
      "Ask someone to confirm your identity" if values.csigRequired,
      "Application submitted"
    ]) }}

{% endblock %}

{% set nextStatuses = [
    "IN_QUEUE",
    "WITHDRAWN"
] %}


