{% extends "layout-tracking.html" %}

{% block trackingHeader %}
    <h1>We’ve sent you a letter</h1>
{% endblock %}

{% block trackingBody %}
    <p>We sent you a letter on {{values.submitted | date}} that has more details about the problem with your application.</p>
    <p>Please wait for this letter to arrive before contacting us or sending any documents.</p>

    {{ trackingHistory([
      "We’ve sent you a letter",
      "Application submitted"
    ]) }}

{% endblock %}


{% set nextStatuses = [
    "WITHDRAWN_LATE"
] %}

