{% extends "layout-tracking-status.html" %}

{% block trackingHeader %}
    <h1>We’ve sent you a letter</h1>
{% endblock %}

{% block trackingBody %}
    <p>We sent you a letter on {{values.submitted | date}} that has more details about the problem with your application.</p>
    <p>If this letter has not arrived, please <a href="/help" target="_blank">contact us</a>.</p>
{% endblock %}

{% block trackingHistory %}

    {{ trackingHistory([
      "We’ve sent you a letter",
      "Application received" if values.documentsRequired != "none",
      "Identity details received" if values.csigRequired,
      "Email sent to person confirming your identity" if values.csigRequired,
      "Ask someone to confirm your identity" if values.csigRequired,
      "Application submitted"
    ]) }}

{% endblock %}


{% set nextStatuses = [
    "IN_QUEUE"
] %}

