{% extends "layout-csig.html" %}

{% set hmpoTitle %}Is this a true likeness of Susan Howard?{% endset %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    <div class="grid-row">
        <div class="column-one-third">
          <img src="../../public/images/thumbnail-good.jpg" width="200">
        </div>
    </div>
    </br>

    {% call hmpoForm(ctx) %}

        {% set eligibilityCondition %}

            {{ hmpoRadios(ctx, {
                id: "knowPersonallyAdult",
                classes: "govuk-radios--inline",
                legend:{
                    text: 'Do you know the applicant personally, for example as a friend, neighbour or colleague?'
                },
                items: [
                    {
                        value: true
                    },
                    {
                        value: false
                    }
                ]
            }) }}

            {{ hmpoRadios(ctx, {
                id: "areRelatedAdult",
                classes: "govuk-radios--inline",
                legend:{
                    text: 'Are you related to, in a relationship with or living at the same address as the applicant?'
                },
                items: [
                    {
                        value: true
                    },
                    {
                        value: false
                    }
                ]
            }) }}

            {{ hmpoText(ctx, {
                id: "howKnowAdult",
                classes: "govuk-input--width-20",
                label: {
                    text: "How do you know the applicant?"
                }
            }) }}

            {{ hmpoNumber(ctx, {
                id: "howLongAdult",
                classes: "govuk-input--width-2",
                label: {
                    text: "How many years have you known the applicant?"
                }
            }) }}

        {% endset -%}

        {{ hmpoRadios(ctx, {
            id: "confirmPhotoAdult",
            classes: "govuk-radios--inline",
            legend: { classes: "govuk-visually-hidden" },
            items: [
                {
                    value: true,
                    conditional: {
                        html: eligibilityCondition
                    }
                },
                {
                    value: false,
                    conditional: {
                        html: eligibilityCondition
                    }
                }
            ]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}

