{% extends "layout-csig.html" %}

{% set hmpoTitle %}Your contact details{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    <p>We’ll only contact you if we need to check any details.</p>

    {% call hmpoForm(ctx) %}
        {{ hmpoText(ctx, {
            id: "csigEmail",
            label: {
                text: "Email",
                classes: "govuk-label--m"
            },
            classes: "govuk-!-width-one-half"
        }) }}

        {{ hmpoText(ctx, {
            id: "csigPhone",
            label: {
                text: "Phone number",
                classes: "govuk-label--m"
            },
            classes: "govuk-!-width-one-half"
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}

